* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    touch-action: pan-y;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}



ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input {
    outline: 0
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Roboto, 'Arial', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', SimSun, sans-serif;
    color: #3e4655;
}

a {
    text-decoration: none
}

body>.tfooter {
    padding-bottom: 50px
}

body>.sfooter {
    bottom: 50px
}

.cred {
    color: #ff6651
}

.cgreen {
    color: #55c6bb
}

.cyellow {
    color: #f6ac55
}

.bctxt {
    background: #3e4655;
    color: #fff
}

.bred {
    background-color: #ff6651;
    color: #fff
}

.bred2 {
    background-color: #ff6069;
    color: #fff
}

.bgreen {
    background-color: #55c6bb;
    color: #fff
}

.bgreen2 {
    background-color: #8bc932;
    color: #fff
}

.bblue {
    background-color: #6ea7df;
    color: #fff
}

.byellow {
    background-color: #f6ac55;
    color: #fff
}

.price {
    color: #ff6651
}

.cp1 {
    background: #6e94df
}

.cp2 {
    background: #55bec6
}

.cp3 {
    background: #a2d658
}

.cp4 {
    background: #f7b15f
}

.cp5 {
    background: #ff7865
}

.cp6 {
    background: #ff9399
}

.cp7 {
    background: #f9c485
}

.tred {
    background: #ffe4e0;
    padding: 10px;
    border: 1px solid #ffd6d1;
    border-radius: 2px;
    color: #ff6651
}

.tred i {
    font-size: 14px;
    position: relative;
    top: 2px;
    margin-right: 4px
}

.tblue {
    background: #f0f6fc;
    padding: 10px;
    border: 1px solid #dbe9f7;
    border-radius: 2px;
    color: #6ea7df
}

.tgreen {
    background: #cbeeea;
    padding: 10px;
    border: 1px solid #b8e7e3;
    border-radius: 2px;
    color: #55c6bb
}

a, button, input, optgroup, select, textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    -webkit-appearance: none;
    outline: 0;
    line-height: normal
}

header {
    height: 50px;
    background: #fff;
    z-index: 70;
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    left: 0
}

header:after {
    border-bottom: 1px solid #ebedf0;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    content: " ";
    position: absolute;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

header .headtitle {
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 18px
}

header .headtitles {
    text-align: left;
    margin-left: 50px;
    line-height: 50px
}

header select {
    position: absolute;
    top: 8px;
    right: 10px
}

header .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px
}

header .back:before {
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid #8691a6;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: -5px;
    position: absolute;
    top: 50%;
    left: 20px
}

header .cstag {
    font-size: 16px
}

header .cstag select {
    opacity: 0;
    width: 100%;
    height: 100%;
    line-height: 50px;
    width: 50px;
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

header .righticobar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: right
}

header .righticobar a {
    display: inline-block;
    width: 40px;
    text-align: center
}

header .righticobar i {
    line-height: 50px;
    width: 40px;
    height: 40px
}

header span {
    display: block;
    line-height: normal
}

.trheader {
    background: transparent;
    color: #fff
}

.trheader h2.headtitle {
    height: 50px;
    padding-top: 10px;
    line-height: normal
}

.trheader h2.headtitle span {
    font-size: 11px;
    margin-top: 4px;
    display: block
}

.trheader:after {
    border: 0
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 18px;
    position: relative
}

.btn-r {
    background: #ff6651;
    color: #fff
}

.btn-g {
    background: #55c6bb;
    color: #fff
}

.b-btn {
    display: block;
    background: #55c6bb;
    color: #fff;
    margin: 0 20px;
    text-align: center;
    padding: 13px 0;
    border-radius: 2px;
    font-size: 20px;
    margin-top: 30px
}

.b-btn.disable {
    background: #edeff2;
    color: #a3acbc
}

.btn-dis {
    background: #edeff2;
    color: #a3acbc
}

.grayColour {
    background: #edeff2 !important;
    color: #a3acbc !important
}

.l-btn {
    background: transparent;
    color: #55c6bb
}

.l-btn:after {
    content: '';
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    border: 1px solid #8691a6;
    display: block
}

.l-btn:after {
    border-color: #55c6bb;
    border-radius: 6px
}

@font-face {
    font-family: 'kico';
    src: url('/css/member/kico.eot?l5ctx2');
    src: url('/css/member/kico.eot?l5ctx2#iefix') format('embedded-opentype'), url('/css/member/kico.ttf?l5ctx2') format('truetype'), url('/css/member/kico.woff?l5ctx2') format('woff'), url('/css/member/kico.svg?l5ctx2#kico') format('svg');
    font-weight: normal;
    font-style: normal
}

[class^="ico-"], [class*=" ico-"] {
    font-family: 'kico' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ico-cans:before {
    content: "\e955"
}

.ico-checkok:before {
    content: "\e956"
}

.ico-dels:before {
    content: "\e957"
}

.ico-waits:before {
    content: "\e958"
}

.ico-edit:before {
    content: "\e953"
}

.ico-delico:before {
    content: "\e954"
}

.ico-cart-s:before {
    content: "\e905"
}

.ico-cart:before {
    content: "\e906"
}

.ico-vippay:before {
    content: "\e952"
}

.ico-wxpay:before {
    content: "\e900"
}

.ico-car-s:before {
    content: "\e901"
}

.ico-car:before {
    content: "\e902"
}

.ico-card-s:before {
    content: "\e903"
}

.ico-card:before {
    content: "\e904"
}

.ico-cash:before {
    content: "\e907"
}

.ico-ccoup:before {
    content: "\e908"
}

.ico-ccoups:before {
    content: "\e909"
}

.ico-cfood-s:before {
    content: "\e90a"
}

.ico-cfood:before {
    content: "\e90b"
}

.ico-cmenu-s:before {
    content: "\e90c"
}

.ico-cmenu:before {
    content: "\e90d"
}

.ico-coup-s:before {
    content: "\e90e"
}

.ico-coup:before {
    content: "\e90f"
}

.ico-coups-s:before {
    content: "\e910"
}

.ico-coups:before {
    content: "\e911"
}

.ico-crown-s:before {
    content: "\e912"
}

.ico-crown:before {
    content: "\e913"
}

.ico-crowns-s:before {
    content: "\e914"
}

.ico-crowns:before {
    content: "\e915"
}

.ico-cup-s:before {
    content: "\e916"
}

.ico-cup:before {
    content: "\e917"
}

.ico-drink-s:before {
    content: "\e918"
}

.ico-drink:before {
    content: "\e919"
}

.ico-editbz-s:before {
    content: "\e91a"
}

.ico-editbz:before {
    content: "\e91b"
}

.ico-ewm:before {
    content: "\e91c"
}

.ico-help-s:before {
    content: "\e91d"
}

.ico-help:before {
    content: "\e91e"
}

.ico-home-s:before {
    content: "\e91f"
}

.ico-home:before {
    content: "\e920"
}

.ico-info-s:before {
    content: "\e921"
}

.ico-jifen-s:before {
    content: "\e922"
}

.ico-jifen:before {
    content: "\e923"
}

.ico-mall-s:before {
    content: "\e924"
}

.ico-mall:before {
    content: "\e925"
}

.ico-mbag-s:before {
    content: "\e926"
}

.ico-mbag:before {
    content: "\e927"
}

.ico-msg-s:before {
    content: "\e928"
}

.ico-msg:before {
    content: "\e929"
}

.ico-mymoney-s:before {
    content: "\e92a"
}

.ico-mymoney:before {
    content: "\e92b"
}

.ico-order-s:before {
    content: "\e92c"
}

.ico-order:before {
    content: "\e92d"
}

.ico-orders-s:before {
    content: "\e92e"
}

.ico-orders:before {
    content: "\e92f"
}

.ico-orderus-s:before {
    content: "\e930"
}

.ico-orderus:before {
    content: "\e931"
}

.ico-pcard:before {
    content: "\e932"
}

.ico-pcoup:before {
    content: "\e933"
}

.ico-pig-s:before {
    content: "\e934"
}

.ico-pig:before {
    content: "\e935"
}

.ico-pweixin:before {
    content: "\e936"
}

.ico-pzfb:before {
    content: "\e937"
}

.ico-redbag-s:before {
    content: "\e938"
}

.ico-redbag:before {
    content: "\e939"
}

.ico-redbags-s:before {
    content: "\e93a"
}

.ico-redbags:before {
    content: "\e93b"
}

.ico-sbag-s:before {
    content: "\e93c"
}

.ico-sbag:before {
    content: "\e93d"
}

.ico-small-s:before {
    content: "\e93e"
}

.ico-small:before {
    content: "\e93f"
}

.ico-sorder-s:before {
    content: "\e940"
}

.ico-sorder:before {
    content: "\e941"
}

.ico-star-s:before {
    content: "\e942"
}

.ico-star:before {
    content: "\e943"
}

.ico-time-s:before {
    content: "\e944"
}

.ico-time:before {
    content: "\e945"
}

.ico-times-s:before {
    content: "\e946"
}

.ico-times:before {
    content: "\e947"
}

.ico-user-s:before {
    content: "\e948"
}

.ico-user:before {
    content: "\e949"
}

.ico-userinfo-s:before {
    content: "\e94a"
}

.ico-userinfo:before {
    content: "\e94b"
}

.ico-waimai-s:before {
    content: "\e94c"
}

.ico-waimai:before {
    content: "\e94d"
}

.ico-workspace-s:before {
    content: "\e94e"
}

.ico-workspace:before {
    content: "\e94f"
}

.ico-xfjl-s:before {
    content: "\e950"
}

.ico-xfjl:before {
    content: "\e951"
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(359deg)
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(359deg)
    }
}

.loading {
    margin: 20px auto;
    font-size: 12px;
    color: #8691a6;
    text-align: center
}

.loading s {
    margin: 10px auto 10px auto;
    animation: rotation .6s infinite linear;
    -webkit-animation: rotation .6s infinite linear;
    font-size: 20px;
    border-top-color: #a3acbc;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0)
}

.loading s:after {
    content: '';
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px
}

.pageload {
    position: fixed;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
    border-radius: 10px;
    text-align: center;
    padding: 0;
    z-index: 99999;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.pageload .loading {
    color: #fff;
    padding: 0
}

.pageload .loading s {
    width: 28px;
    height: 28px;
    padding: 0;
    border: 4px solid rgba(255, 255, 255, 0.7);
    border-top-color: rgba(255, 255, 255, 0.2)
}

.pageload .loading s:after {
    width: 28px;
    height: 28px
}

.pageload .loadingbox {
    margin-top: 28%
}

.loadingbox {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-animation: preloader-spin 1s steps(12, end) infinite;
    animation: preloader-spin 1s steps(12, end) infinite
}

.loadingbox-w {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
}

@-webkit-keyframes preloader-spin {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes preloader-spin {
    100% {
        transform: rotate(360deg)
    }
}

.btnloading {
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    position: absolute;
    left: 55%;
    width: 3px;
    height: 8px;
    background: #fff;
    top: 44%
}

.btnloading s {
    width: 4px;
    height: 8px;
    display: block;
    margin: 0 2px;
    background: #fff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    position: absolute
}

.btnloading s:first-child {
    -webkit-animation-delay: -0.32s;
    -moz-animation-delay: -0.32s;
    -ms-animation-delay: -0.32s;
    -o-animation-delay: -0.32s;
    animation-delay: -0.32s;
    left: -20px
}

.btnloading s:last-child {
    -webkit-animation-delay: -0.16s;
    -moz-animation-delay: -0.16s;
    -ms-animation-delay: -0.16s;
    -o-animation-delay: -0.16s;
    animation-delay: -0.16s;
    left: -10px
}

@-webkit-keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0 #FFF;
        height: 8px;
        opacity: .4
    }

    40% {
        box-shadow: 0 -5px #fff;
        height: 16px;
        opacity: 1
    }
}

@keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0 #FFF;
        height: 8px;
        opacity: .4
    }

    40% {
        box-shadow: 0 -5px #fff;
        height: 16px;
        opacity: 1
    }
}

.msglay {
    position: absolute;
    top: 40%;
    color: #fff;
    padding: 4px 10px;
    display: block;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 999;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    opacity: 1;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s
}

.msglay span {
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    margin: 0 16%;
    border-radius: 3px;
    line-height: 26px;
    font-size: 13px
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

.couplist li {
    margin: 14px 10px;
    border-radius: 6px;
    position: relative;
    padding-left: 80px;
    background-position: 0 -4px;
    background-repeat: repeat-x;
    background-size: 16px
}

.couplist li.active:after, .couplist li.active:before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    right: 10px
}

.couplist li.active:before {
    background: transparent;
    width: 20px;
    height: 20px;
    border-radius: 90px
}

.couplist li.active:after {
    width: 12px;
    height: 6px;
    border: 2px solid #fff;
    border-top: 0;
    border-right: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-color: #fff
}

.couplist s {
    color: #fff;
    display: block;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
    margin-bottom: 6px;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    padding-bottom: 6px
}

.couplist s sub {
    font-size: 12px
}

.couplist b {
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -18px
}

.couplist i {
    font-size: 11px;
    display: block;
    color: #fff
}

.couplist sup {
    font-size: 12px
}

.couplist li.discop {
    color: #fff;
    background-color: #edeff2
}

.couplist li.discop s {
    color: #8691a6
}

.couplist li.discop b {
    color: #8691a6
}

.couplist li.discop i {
    color: #8691a6
}

.couplist li.discop h4 {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ff6651;
    font-size: 10px
}

.couplist li.discop .coupinfo h2, .couplist li.discop .coupinfo p {
    color: #a3acbc
}

.couplist .coupcont {
    border-left: 1px dashed rgba(255, 255, 255, 0.87);
    position: relative;
    padding-left: 20px;
    padding: 20px 10px
}

.couplist .coupcont:before, .couplist .coupcont:after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    top: -3px;
    left: -3px
}

.couplist .coupcont:before {
    bottom: -3px;
    top: auto
}

.couplist .coupinfo {
    padding: 14px 0 0;
    display: none;
    text-align: center;
    margin-bottom: 8px
}

.couplist .coupinfo h2 {
    color: #fff;
    font-size: 16px;
    position: relative;
    text-align: left;
    line-height: 14px;
    padding-left: 8px;
    margin-bottom: 10px;
    padding-left: 20px
}

.couplist .coupinfo h2 i {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 12px;
    margin-top: -6px
}

.couplist .coupinfo p {
    color: #fff;
    line-height: 13px;
    text-align: left;
    font-size: 12px
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px)
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}

@-ms-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -ms-transform: translateX(-20px)
    }

    100% {
        opacity: 1;
        -ms-transform: translateX(0)
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-20px)
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0)
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -ms-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(20px)
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}

@-ms-keyframes fadeInRight {
    0% {
        opacity: 0;
        -ms-transform: translateX(20px)
    }

    100% {
        opacity: 1;
        -ms-transform: translateX(0)
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(20px)
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0)
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -ms-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px)
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}

@-ms-keyframes fadeInUp {
    0% {
        opacity: 0;
        -ms-transform: translateY(20px)
    }

    100% {
        opacity: 1;
        -ms-transform: translateY(0)
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px)
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -ms-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px)
    }
}

@-moz-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -moz-transform: translateY(0)
    }

    100% {
        opacity: 0;
        -moz-transform: translateY(20px)
    }
}

@-ms-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -ms-transform: translateY(0)
    }

    100% {
        opacity: 0;
        -ms-transform: translateY(20px)
    }
}

@-o-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -o-transform: translateY(0)
    }

    100% {
        opacity: 0;
        -o-transform: translateY(20px)
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0)
    }

    100% {
        opacity: 0;
        transform: translateY(20px)
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    -moz-animation-name: fadeOutDown;
    -ms-animation-name: fadeOutDown;
    -o-animation-name: fadeOutDown;
    animation-name: fadeOutDown
}

.animated {
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.scrollcont {
    width: 100%
}

.scrollwarp {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

.mpage {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 50px;
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -ms-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.regbtn {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -ms-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.topuplist {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -ms-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.regcardform {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -ms-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.userhead {
    position: relative;
    padding-bottom: 65px;
    background: #fff
}

.userhead .uinfo {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    z-index: 9999;
    text-shadow: 1px 1px 2px #666
}

.userhead .uscard {
    background: #ff6651;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(148, 146, 146, 0.67);
    min-height: 196px;
    width: 92%;
    margin: 20px auto 10px;
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -ms-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.userhead .uscard s.line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    overflow: hidden;
    z-index: 1;
    border-radius: 12px
}

.userhead .uscard s.line:after, .userhead .uscard s.line:before {
    width: 230%;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    display: block;
    transform: rotate(-30deg);
    opacity: .3;
    filter: alpha(opacity=30);
    margin-left: -40%;
    margin-top: 20%
}

.userhead .uscard s.line:after {
    margin-top: -3%
}

.userhead .uscard h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 20px;
    padding-left: 40px;
    text-shadow: 1px 1px 2px #666
}

.userhead .uscard h1 .brandlogo {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    margin-top: -5px
}

.userhead .uscard h1 .brandlogo i {
    color: #ff6651;
    text-align: center;
    line-height: 30px
}

.userhead .uscard h1 .brandlogo img {
    width: 30px;
    height: 30px;
    border-radius: 90px
}

.userhead .uscard .cardinfo {
    position: absolute;
    bottom: 15px;
    left: 15px
}

.userhead .uscard .cardinfo b, .userhead .uscard .cardinfo p {
    color: #fff;
    text-shadow: 1px 1px 2px #666
}

.userhead .uscard .cardinfo p {
    font-size: 13px
}

.userhead .uscard .cardinfo b {
    font-size: 12px;
    margin-top: 13px;
    display: block
}

.userhead .uscard .paybtn {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    padding: 18px 20px 18px 50px;
    display: inline-block;
    z-index: 3;
    text-shadow: 1px 1px 2px #666
}

.userhead .uscard .paybtn i {
    font-size: 16px;
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -8px
}

.userhead .uscard .userlv {
    font-size: 12px;
    color: #fff;
    margin-bottom: 6px;
    display: block;
    text-shadow: 1px 1px 2px #666
}

.userhead .col {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -ms-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin-bottom: 15px
}

.userhead .col a {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #9ba1aa;
    width: 32.333333%
}

.userhead .col a:before {
    right: 0;
    width: 0;
    height: 100%;
    top: 0;
    border-right: 1px solid #ebedf0;
    right: -4px;
    content: " ";
    position: absolute;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
}

.userhead .col a:last-child:before {
    border: 0
}

.userhead .col a b {
    display: block;
    color: #63b359;
    font-size: 15px;
    margin-top: 10px
}

.userhead #c_green {
    background: -webkit-linear-gradient(#41d994 0, #29cd83 100%)
}

.userhead #c_green .brandlogo i {
    color: #29cd83
}

.userhead #c_green .line:after, .userhead #c_green .line:before {
    opacity: .5
}

.userhead #c_black {
    background: -webkit-linear-gradient(#7e838e 0, #5c6069 100%)
}

.userhead #c_blue {
    background-color: #618bd1;
    background: -webkit-linear-gradient(#90aedf 0, #618bd1 100%)
}

.userhead #c_red {
    background-color: #ff6767;
    background: -webkit-linear-gradient(#ffa4a4 0, #ff6767 100%)
}

.userhead #c_grey {
    background-color: #e1e2e2;
    background: -webkit-linear-gradient(#f1f1f1 0, #e1e2e2 100%);
    box-shadow: 0 10px 29px rgba(0, 0, 0, 0.2) !important
}

.userhead #c_grey h1, .userhead #c_grey p, .userhead #c_grey a {
    color: #3e4655
}

.userhead #c_grey h1 {
    color: #3e4655
}

.userhead #c_grey h1 sub {
    background: #3e4655;
    color: #fff
}

.userhead #c_grey h1 i {
    color: #fff
}

.userhead #c_grey i {
    color: #3e4655
}

.userhead #c_grey .cardinfo h4, .userhead #c_grey .cardinfo b {
    color: #3e4655
}

.userhead #c_grey .paybtn {
    color: #3e4655
}

.userhead #c_grey .uinfo {
    color: #a3acbc
}

.userhead #c_grey .line:after, .userhead #c_grey .line:before {
    opacity: .7
}

.userhead #c_purple {
    background-color: #8f72da;
    background: -webkit-linear-gradient(#a58ee1 0, #8f72da 100%)
}

.userhead #c_purple .brandlogo i {
    color: #8f72da
}

.userhead #c_orange {
    background-color: #fdae47;
    background: -webkit-linear-gradient(#fdbb65 0, #fdae47 100%)
}

.userhead #c_orange .brandlogo i {
    color: #fdae47
}

.userhead #c_gold {
    background-color: #e1a104;
    background: -webkit-linear-gradient(#fbbe27 0, #e1a104 100%)
}

.userhead #c_gold .brandlogo i {
    color: #e1a104
}

.userhead .cardimg {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -ms-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: relative
}

.userhead .cardimg .imgwarp {
    width: 92%;
    margin: 20px auto 10px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3);
    min-height: 180px
}

.userhead .cardimg img {
    max-width: 100%;
    vertical-align: middle;
    max-height: 200px;
    width: 100%
}

.userhead .cardimg .cardinfo {
    margin: 0 3%;
    position: relative;
    padding-bottom: 8px
}

.userhead .cardimg .cardinfo h4, .userhead .cardimg .cardinfo b {
    font-size: 13px;
    line-height: 20px;
    color: #697790;
    display: inline-block;
    color: #a3acbc
}

.userhead .cardimg .cardinfo a.paybtn {
    position: absolute;
    right: 4px;
    top: 50%;
    font-size: 13px;
    color: #697790;
    margin-top: -13px;
    color: #8691a6
}

.userhead .cardimg .cardinfo a.paybtn i {
    margin-right: 2px
}

.userhead .cardimg .uinfo {
    right: 10px
}

.card1 {
    background-color: #63b359;
    background: -webkit-linear-gradient(left, #8ac683, #63b359)
}

#card1 .brandlogo i {
    color: #63b359
}

#card1 .setpNode.active i {
    color: #63b359
}

#card1 .tag {
    color: #63b359
}

#card1 .stepLine {
    background: #63b359
}

#card1 .stepLocal {
    background-color: #63b359
}

.card2 {
    background-color: #2c9f67;
    background: -webkit-linear-gradient(left, #3eca86, #2c9f67)
}

#card2 .brandlogo i {
    color: #2c9f67
}

#card2 .setpNode.active i {
    color: #2c9f67
}

#card2 .tag {
    color: #2c9f67
}

#card2 .stepLine {
    background: #2c9f67
}

#card2 .stepLocal {
    background-color: #2c9f67
}

.card3 {
    background-color: #509fc9;
    background: -webkit-linear-gradient(left, #7fb9d7, #509fc9)
}

#card3 .brandlogo i {
    color: #509fc9
}

#card3 .setpNode.active i {
    color: #509fc9
}

#card3 .tag {
    color: #509fc9
}

#card3 .stepLine {
    background: #509fc9
}

#card3 .stepLocal {
    background-color: #509fc9
}

.card4 {
    background-color: #5885cf;
    background: -webkit-linear-gradient(left, #88a8dd, #5885cf)
}

#card4 .brandlogo i {
    color: #5885cf
}

#card4 .setpNode.active i {
    color: #5885cf
}

#card4 .tag {
    color: #5885cf
}

#card4 .stepLine {
    background: #5885cf
}

#card4 .stepLocal {
    background-color: #5885cf
}

.card5 {
    background-color: #9062c0;
    background: -webkit-linear-gradient(left, #af8ed2, #9062c0)
}

#card5 .brandlogo i {
    color: #9062c0
}

#card5 .setpNode.active i {
    color: #9062c0
}

#card5 .tag {
    color: #9062c0
}

#card5 .stepLine {
    background: #9062c0
}

#card5 .stepLocal {
    background-color: #9062c0
}

.card6 {
    background-color: #d09a45;
    background: -webkit-linear-gradient(left, #dcb576, #d09a45)
}

#card6 .brandlogo i {
    color: #d09a45
}

#card6 .setpNode.active i {
    color: #d09a45
}

#card6 .tag {
    color: #d09a45
}

#card6 .stepLine {
    background: #d09a45
}

#card6 .stepLocal {
    background-color: #d09a45
}

.card7 {
    background-color: #e4b138;
    background: -webkit-linear-gradient(left, #ebc66e, #e4b138)
}

#card7 .brandlogo i {
    color: #e4b138
}

#card7 .setpNode.active i {
    color: #e4b138
}

#card7 .tag {
    color: #e4b138
}

#card7 .stepLine {
    background: #e4b138
}

#card7 .stepLocal {
    background-color: #e4b138
}

.card8 {
    background-color: #ee903c;
    background: -webkit-linear-gradient(left, #f3b074, #ee903c)
}

#card8 .brandlogo i {
    color: #ee903c
}

#card8 .setpNode.active i {
    color: #ee903c
}

#card8 .tag {
    color: #ee903c
}

#card8 .stepLine {
    background: #ee903c
}

#card8 .stepLocal {
    background-color: #ee903c
}

.card9 {
    background-color: #a9d92d;
    background: -webkit-linear-gradient(left, #bee261, #a9d92d)
}

#card9 .brandlogo i {
    color: #a9d92d
}

#card9 .setpNode.active i {
    color: #a9d92d
}

#card9 .tag {
    color: #a9d92d
}

#card9 .stepLine {
    background: #a9d92d
}

#card9 .stepLocal {
    background-color: #a9d92d
}

.card10 {
    background-color: #dd6549;
    background: -webkit-linear-gradient(left, #e7917d, #dd6549)
}

#card10 .brandlogo i {
    color: #dd6549
}

#card10 .setpNode.active i {
    color: #dd6549
}

#card10 .tag {
    color: #dd6549
}

#card10 .stepLine {
    background: #dd6549
}

#card10 .stepLocal {
    background-color: #dd6549
}

.card11 {
    background-color: #cc463d;
    background: -webkit-linear-gradient(left, #d9746d, #cc463d)
}

#card11 .brandlogo i {
    color: #cc463d
}

#card11 .setpNode.active i {
    color: #cc463d
}

#card11 .tag {
    color: #cc463d
}

#card11 .stepLine {
    background: #cc463d
}

#card11 .stepLocal {
    background-color: #cc463d
}

#cards1 {
    background: #63b359
}

#cards1 .card:before, #cards1 .card:after {
    background: #63b359
}

#cards2 {
    background: #2c9f67
}

#cards2 .card:before, #cards2 .card:after {
    background: #2c9f67
}

#cards3 {
    background: #509fc9
}

#cards3 .card:before, #cards3 .card:after {
    background: #509fc9
}

#cards4 {
    background: #5885cf
}

#cards4 .card:before, #cards4 .card:after {
    background: #5885cf
}

#cards5 {
    background: #9062c0
}

#cards5 .card:before, #cards5 .card:after {
    background: #9062c0
}

#cards6 {
    background: #d09a45
}

#cards6 .card:before, #cards6 .card:after {
    background: #d09a45
}

#cards7 {
    background: #e4b138
}

#cards7 .card:before, #cards7 .card:after {
    background: #e4b138
}

#cards8 {
    background: #ee903c
}

#cards8 .card:before, #cards8 .card:after {
    background: #ee903c
}

#cards9 {
    background: #a9d92d
}

#cards9 .card:before, #cards9 .card:after {
    background: #a9d92d
}

#cards10 {
    background: #dd6549
}

#cards10 .card:before, #cards10 .card:after {
    background: #dd6549
}

#cards11 {
    background: #cc463d
}

#cards11 .card:before, #cards11 .card:after {
    background: #cc463d
}

.clist {
    position: relative
}

.clist:before {
    right: 0;
    height: 1px;
    width: 100%;
    top: 0;
    border-top: 1px solid #ebedf0;
    margin-top: -1px;
    content: " ";
    position: absolute;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.clist li {
    list-style: none;
    position: relative;
    margin: 0 15px;
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -ms-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.clist li:after {
    border-bottom: 1px solid #ebedf0;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    content: " ";
    position: absolute;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.clist li a {
    color: #727b89;
    display: block;
    padding: 18px 0 18px 50px;
    font-size: 16px
}

.clist li a i {
    font-size: 24px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -12px;
    color: #727b89
}

.centerlist {
    overflow: hidden;
    width: 100%;
    background: #fff
}

.gridclsit {
    font-size: 0;
    margin-right: -1px
}

.gridclsit li {
    width: 33.3333333%;
    position: relative;
    margin: 0;
    display: inline-block;
    font-size: 0;
    text-align: center
}

.gridclsit li:before {
    right: 0;
    width: 0;
    height: 100%;
    top: 0;
    border-right: 1px solid #ebedf0;
    right: -1px;
    content: " ";
    position: absolute;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
}

.gridclsit li a {
    padding: 20px 0;
    font-size: 14px
}

.gridclsit li a i {
    display: block;
    font-size: 22px;
    position: static;
    margin: 0;
    margin-bottom: 10px
}

.usercardinfo {
    padding: 40px 20px;
    padding-top: 0
}

.usercardinfo h2 {
    font-size: 16px;
    margin: 10px 0;
    color: #ff6651;
    border-bottom: 1px solid #edeff2;
    padding-bottom: 10px;
    margin-top: 30px
}

.usercardinfo p {
    line-height: 24px;
    font-size: 14px;
    color: #8691a6;
    text-align: justify;
    margin-bottom: 10px
}

.moneyform {
    margin: 20px
}

.moneyform input {
    outline: 0;
    width: 100%;
    padding: 12px 0 12px 10px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    font-size: 20px;
    color: #666
}

.moneyform input::-webkit-input-placeholder {
    color: #a3acbc
}

.moneyform input:-moz-placeholder {
    color: #a3acbc
}

.moneyform input::-moz-placeholder {
    color: #a3acbc
}

.moneyform input:-ms-input-placeholder {
    color: #a3acbc
}

.moneyform input:focus {
    border-color: #ff6651
}

.topupmoney {
    margin: 10px -11px;
    overflow: hidden
}

.topupmoney a {
    display: block;
    float: left;
    background: #f9f9f9;
    height: 60px;
    position: relative;
    overflow: hidden;
    color: #697790;
    width: 45%;
    padding: 10px;
    margin: 0 7px 10px 10px;
    border-radius: 4px
}

.activity_rule em {
    font-size: 20px
}

.activity_rule span em {
    font-size: 13px
}

.activity_rule b {
    font-size: 12px
}

.topupmoney a span {
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: #a3acbc
}

.topupmoney a i {
    position: absolute;
    right: -10%;
    top: 7%;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
    font-size: 50px;
    opacity: .08;
    filter: alpha(opacity=8)
}

.topupmoney a.active {
    background: #ff6f5b;
    color: #fff
}

.topupmoney a.active span {
    color: #fff
}

.topupmoney a.active i {
    color: #fff;
    opacity: .22;
    filter: alpha(opacity=22)
}

.coupinfos {
    margin: 0 20px;
    clear: both;
    margin-top: 20px
}

.coupinfos h2 {
    color: #323233;
    font-size: 15px;
    position: relative;
    text-align: center;
    line-height: 20px;
    margin: 10px 0;
    margin-bottom: 20px
}

.coupinfos h2 span {
    z-index: 1;
    position: relative
}

.coupinfos h2:after, .coupinfos h2:before {
    content: '';
    z-index: 0
}

.coupinfos h2:before {
    width: 100%;
    height: 1px;
    background: #e7eaf1;
    top: 50%;
    left: 0;
    right: 0;
    position: absolute
}

.coupinfos h2:after {
    background: #fff;
    width: 100px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -10px
}

.coupinfos p {
    font-size: 12px;
    color: #dbdee5;
    line-height: 16px;
    margin-bottom: 10px;
    text-align: justify
}

.intoBar {
    position: relative;
    height: 50px;
    line-height: 50px
}

.intoBar .userpay {
    position: absolute;
    right: -2px;
    top: 0;
    font-size: 16px;
    display: block;
    padding: 0 21px;
    background: #ff6651;
    color: #fff;
    border-radius: 0 4px 4px 0
}

.cardhead {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 8% 6% 16px;
    background: #fff
}

.cardhead h1 {
    line-height: 40px;
    text-align: center;
    background: #55c6bb;
    color: #fff;
    border-radius: 6px 6px 0 0
}

.cardhead b {
    color: #f96269;
    font-size: 13px;
    display: block;
    position: relative;
    padding: 15px 20px;
    font-weight: normal;
    padding-left: 50px
}

.cardhead b i {
    font-size: 24px;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -12px
}

.cardhead b span {
    display: block;
    font-size: 18px;
    margin-top: 5px
}

.cardhead:before, .cardhead:after {
    content: '';
    height: 40px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14)
}

.cardhead:after {
    bottom: -6px;
    z-index: -2;
    width: 96%;
    left: 2%;
    background: rgba(255, 255, 255, 0.2)
}

.cardhead:before {
    bottom: -3px;
    z-index: -1;
    width: 98%;
    left: 1%
}

.cardhead .topbtn {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: #f96269;
    color: #fff;
    display: inline-block;
    padding: 10px 18px;
    border-radius: 3px;
    font-size: 13px
}

.cardstep {
    overflow: hidden;
    opacity: .8;
    margin: 0 10px
}

.cardstep i {
    display: block;
    font-size: 30px;
    margin: 10px 0
}

.cardstep a {
    width: 33.333333%;
    float: left;
    display: block;
    text-align: center;
    font-size: 11px;
    color: #fff;
    padding: 0 10px
}

.cardbar {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    text-align: center
}

.cardbar a {
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 4px 10px
}

.card {
    border-radius: 6px;
    border-bottom: 1px dashed #d9d9d9;
    padding: 20px;
    width: 100%;
    position: relative
}

.card:before, .card:after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 40px;
    background: #3e4655;
    position: absolute;
    bottom: -6px
}

.card:after {
    left: -6px
}

.card:before {
    right: -6px
}

.card img {
    display: block;
    margin: 0 auto;
    width: 150px;
    background: #fff;
    border: 0
}

.card h1 {
    color: #fff
}

.card span {
    text-align: center;
    color: #a3acbc;
    display: block;
    font-size: 12px;
    padding: 10px 0
}

.card .txm, .card .ewm {
    width: 86%;
    text-align: center;
    margin: 0 auto
}

.card .txm {
    margin-bottom: 10px
}

.card .txm p {
    text-align-last: justify
}

.darkbg {
    height: 100%;
    background: #3e4655
}

.brandhead {
    padding: 0;
    background: #edeff2;
    position: absolute;
    overflow: hidden;
    height: 120px;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.4);
    z-index: 99;
    left: 0;
    top: 0;
    z-index: 1;
    right: 0
}

.brandhead h1 {
    color: #fff;
    text-align: center
}

.brandhead .regcard {
    background: #ff6651;
    position: absolute;
    top: 10%;
    right: 8%;
    bottom: 0;
    left: 8%;
    border-radius: 6px 6px 0 0
}

.regcardhead {
    z-index: 2;
    padding-bottom: 0
}

.regcardhead .uscard {
    bottom: 0
}

.formlist {
    background: #fff;
    padding-top: 10px;
    position: relative
}

.formlist li {
    padding: 20px 24px;
    font-size: 16px;
    margin: 0 26px;
    padding-left: 0;
    position: relative;
    color: #545e72
}

.formlist li:after {
    border-bottom: 1px solid #ebedf0;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    content: " ";
    position: absolute;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.formlist input {
    border: 0;
    font-size: 16px;
    width: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    text-align: right;
    padding: 3px 0 3px;
    margin-top: -12px;
    background: transparent;
    z-index: 1
}

.formlist input::-webkit-input-placeholder {
    color: #dbdee5
}

.formlist input:-moz-placeholder {
    color: #dbdee5
}

.formlist input::-moz-placeholder {
    color: #dbdee5
}

.formlist input:-ms-input-placeholder {
    color: #dbdee5
}

.formlist .mcode {
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-block;
    padding: 8px 10px;
    background: #edeff2;
    color: #545e72;
    border-radius: 3px;
    margin-top: -17px;
    z-index: 9;
    font-size: 15px
}

.formlist .codeinput {
    padding-right: 120px
}

.shead {
    background: #55c6bb;
    text-align: center;
    padding: 20px 0
}

.shead h2 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    position: relative;
    text-align: left;
    padding-left: 70px
}

.shead h2 i {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 30px;
    margin-top: -15px
}

.shead h2 span {
    display: block;
    font-size: 14px;
    margin-bottom: 8px
}

.consumerlist li {
    text-align: right;
    position: relative;
    padding: 15px 20px;
    background: #fff
}

.consumerlist li:after {
    border-bottom: 1px solid #ebedf0;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    content: " ";
    position: absolute;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.consumerlist li b {
    width: 20%;
    text-align: left;
    float: left;
    color: #999;
    font-weight: normal;
    font-size: 14px;
}

.consumerlist li b em {
    display: block;
    font-size: 12px;
    margin-top: 4px
}

.consumerlist li span {
    display: inline-block;
    width: 30%;
    text-align: right;
    font-size: 12px;
    font-weight: 300;
    color: #999;
}

.consumerlist li span sup {
    display: block;
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
}

.consumerlist li span sub {
    font-size: 12px
}

.consumerlist li .timer {
    font-size: 12px;
    color: #697790
}

.consumerlist .listitle {
    background: #f6f7f8;
    color: #545e72;
    text-align: left;
    padding: 8px 20px;
    font-size: 12px
}

.consumerlist .listitle small {
    float: right
}

.empty {
    text-align: center;
    margin-top: 20%;
    padding: 20px 0
}

.empty i {
    font-size: 34px;
    color: #a3acbc;
    margin-bottom: 10px;
    display: block
}

.empty span {
    display: block;
    font-size: 12px;
    color: #a3acbc
}

.pointsHead {
    background: #3e4655;
    padding: 30px 0
}

.userAvatar {
    text-align: center;
    margin: 10px 0
}

.userAvatar .name {
    margin: 10px 0;
    color: #fff;
    font-size: 13px;
    margin-bottom: 20px;
    position: relative
}

.userAvatar .img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative
}

.userAvatar img {
    width: 50px;
    height: 50px;
    border-radius: 90px
}

.userAvatar .points {
    display: block;
    font-size: 12px
}

.userAvatar .tag {
    width: 18px;
    height: 18px;
    border-radius: 90px;
    font-size: 11px;
    line-height: 18px;
    background: #fff;
    position: absolute;
    right: -4px;
    top: -4px;
    text-align: center
}

.userAvatar .tag i {
    line-height: 18px;
    text-align: center
}

.poinsStep {
    text-align: center;
    font-size: 13px;
    line-height: 2;
    position: relative;
    font-size: 0
}

.stepBar {
    display: block;
    position: absolute;
    left: 40px;
    right: 40px;
    height: 5px;
    background: rgba(255, 255, 255, 0.7);
    top: 12px;
    z-index: 1
}

.stepLocal {
    width: 8px;
    height: 8px;
    position: absolute;
    left: 20%;
    top: -3px;
    background: #fff;
    border-radius: 90px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    border: 2px solid #fff;
    z-index: 9
}

.stepLine {
    position: absolute;
    left: 0;
    top: 2px;
    background: #6ea7df;
    height: 1px;
    z-index: 2;
    width: 12%
}

.setpNode {
    display: inline-block;
    text-align: center;
    color: #fff;
    width: 25%;
    font-size: 12px;
    position: relative;
    z-index: 9
}

.setpNode i {
    width: 28px;
    height: 28px;
    display: block;
    font-size: 18px;
    background: #fff;
    color: #ff6651;
    border-radius: 90px;
    line-height: 24px;
    margin: 0 auto;
    line-height: 28px;
    color: #a3acbc
}

.pageBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    z-index: 90
}

.pageBack:before {
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: -5px;
    position: absolute;
    top: 50%;
    left: 20px
}

#q-code {
    min-height: 150px;
    height: 150px
}

#t-code {
    min-height: 70px;
    height: 70px
}

.cardimg h1 {
    position: absolute;
    top: 25px;
    left: 25px;
    color: #fff;
    font-size: 18px;
    padding-left: 40px
}

.cardimg h1 .brandlogo {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    margin-top: -15px;
    top: 50%
}

.cardimg h1 .brandlogo img {
    width: 30px;
    height: 30px;
    border-radius: 90px
}

#title_preview {
    text-shadow: 1px 1px 2px #666
}

.cardimg h1 .brandlogo i {
    color: #ff6651;
    text-align: center;
    line-height: 30px
}

#phoneBtn {
    display: inline-block;
    margin-right: 5px;
    height: 45px;
    margin-left: 5px;
    padding: 0 .6em 0 .7em;
    line-height: 45px;
    vertical-align: middle;
    font-size: 17px
}

#phoneBtn .mcode {
    padding: 8px 10px;
    background: #edeff2;
    color: #545e72;
    border-radius: 3px;
    font-size: 15px
}

.h_icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px
}

.part-two {
    width: 100%;
    height: 10px;
    background: #f2f2f2
}

.add-card-bag {
    text-align: center;
    height: auto;
    padding-bottom: 20px;
    border-top: 0;
    color: #63b359;
    background: #fff
}

.add-card-bag a {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    border-width: 1px;
    border-style: solid;
    border-radius: 60px;
    font-size: 15px;
    width: 155px;
    margin-top: 6px;
    color: #63b359
}

.j-theme {
    height: 170px;
    padding: 25px 0 0;
    background: -webkit-linear-gradient(top, #e0b766, #d0a762);
    position: relative;
}

.header .icon-wrap {
    position: relative;
    width: 120px;
    height: 79px;
    margin: 0 auto
}

.header .text {
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 26px
}

.header .icon-wrap:before {
    position: absolute;
    top: 5px;
    left: 30px;
    content: '';
    width: 58px;
    height: 58px;
    background-color: #fff;
    border-radius: 50%
}

.header .icon-wrap:after {
    position: absolute;
    top: 0;
    left: 25px;
    content: '';
    width: 68px;
    height: 68px;
    background-color: #fff;
    opacity: .2;
    border-radius: 50%
}

.j-theme .ico-mbag, .j-theme .ico-jifen {
    color: #ff6651;
    font-size: 28px;
    position: relative;
    left: 46px;
    top: 20px
}

.consumerlist li b.r_t {
    font-size: 12px;
    min-width: 180px;
    left: 13px;
    top: 14px;
    position: absolute;
    width: 150px;
}

.r_t sup {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 12px;
    font-weight: 300;
}

.r_t .point {
    height: 21px;
    font-size: 15px;
    margin-top: 10px;
    color: #3e4655
}

.intoBar .recharge-btn {
    font-size: 18px;
    padding: 0 21px;
    color: #fff;
    border-radius: 9px;
    text-align: center;
    position: relative
}

.skxjl-t {
    font-size: 12px;
    color: #dbdee5;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%
}

.buyerReview {
    width: 88%;
    margin-top: 10px;
    margin-bottom: -9px;
    border: 1px solid rgb(235, 237, 240);
    background-color: #FFFFFF;
    border-radius: 4px;
    color: #565656;
    padding: 7px 10px;
    font-size: 14px;
    height: 60px;
    max-width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.consumer-list {
    width: 100%;
    background-color: #f7f9fa;
    padding-bottom: 5px;
    background: #fff;
    border-width: 0;
}

.consumer-list li:last-child::after {
    border: none;
}

.card:before, .card:after {
    background: #d8af5e;
}

.u_head, .guideIndex .coin_header, .j-theme, .darkbg, .coupon-list-logo, .main-color, .box .img-box .card-box, .box-img .pic-box {
    background: -webkit-linear-gradient(top, #e0b766, #d0a762) !important;
}

.recharge-box, .cardhead .topbtn, .btn-active, .btn.theme-bg, .u_head .uinfo .ucardinfo a, .coupon-infor-ft .main-color, #self-consume .btn, .modal .form-group .input-group .input-group-addon {
    background: #ee903ccc !important;
}

.cardhead b, .look-info a, .box-title .first-line, .gift-info .price, .topupmoney a.active i, .topupmoney a.active span, .checkAllRule, .quanLineLeft .ico-mall, .consumerlist li span sup, .coupon-info .coupon-brand {
    color: #d8af5e;
}

.wx_loading .wx_loading_icon {
    border-color: #d8af5e;
}

.tabs .tab a.active {
    color: #d8af5e;
    border-bottom: 2px solid #d8af5e;
}

.scroll-box #wrapper {
    width: 94%;
    position: absolute;
    z-index: 100;
    top: 150px;
    bottom: 12px;
    left: 3%;
    right: 0;
    overflow: hidden;
    box-shadow: 0 4px 18px 0 rgba(76, 111, 135, .1);
    border-radius: 10px;
}
