
@{
    Layout = null;
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="title">权限信息</span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="line1">
            <div class="logo">
                <img :src="info.head_img" />
            </div>
            <div class="status">
                <p>{{info.nick_name}}</p>
                <p class="text-success">已授权</p>
            </div>
            <div class="operate">
                <button class="btn btn-primary btn-lg">更新授权</button>
            </div>
        </div>
        <ul class="auth-list">
            <li v-for="item in auth.func_info" v-if="!!wxauth[item.funcscope_category.id]">{{wxauth[item.funcscope_category.id]}}</li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="title">帐号信息</span>
        </h3>
    </div>
    <div class="panel-body">
        <ul class="base-info">
            @*<li>二维码：<a class="text-primary" @@click="getQrcode()">获取</a></li>*@
            <li>原始ID：{{info.user_name}}</li>
            <li>应用ID：{{auth.authorizer_appid}}</li>
            <li>公司主体：{{info.principal_name}}</li>
            <li>介绍信息：{{info.signature}}</li>
        </ul>
    </div>
</div>