var defaultImageSrc = "/images/logo-2.jpg";
var imageUrl = "http://f.whliupangzi.cn";
// e.jiandanmao.cn
// t.e.jiandanmao.cn
// e.whliupangzi.cn
var product = {

    productImage: function (product, businessId, flag) {

        if (!product) return defaultImageSrc;
        if(product.images.length == 0)return defaultImageSrc;
        var src;
        if(flag === "big") {
            src = imageUrl + "/File/Product/" + businessId + "/400x300/" + product.images[0].name + "." + product.images[0].extensionName;
        } else {
            src = imageUrl + "/File/Product/" + businessId + "/100x75/" + product.images[0].name + "." + product.images[0].extensionName;
        }

        return src;
    },
    orderProductImage: function(product, businessId){
        if (!product) return defaultImageSrc;
        if(!product.src)return defaultImageSrc;        

        return imageUrl + "/File/Product/" + businessId + "/100x75/" + product.src;
    },
    logoImage: function(url, businessId){
        if(!url) return null;
        return imageUrl + "/File/Logo/" + businessId + "/" + url; 
    },
    licenseImage: function(url, businessId){
        if(!url)return null;
        return imageUrl + "/File/License/" + businessId + "/" + url; 
    },
    discountLimit: function(limit){
        if(limit == -1) return "不限份";
        return "限" + limit + "份";
    }
};

module.exports = {
    productImage: product.productImage,
    orderProductImage: product.orderProductImage,
    logoImage: product.logoImage,
    licenseImage: product.licenseImage,
    discountLimit: product.discountLimit
};