@{
    //Layout = null;
    ViewBag.Title = "登录";
}

@section Styles {

    <environment include="Development">
        <link rel="stylesheet" href="~/css/login.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/login.min.css" asp-append-version="true" />
    </environment>
}
@section Scripts {
    <script>
        var pageObj = {
            type: "@ViewBag.type"
        }
    </script>
    <environment include="Development">
        <script src="~/js/login.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/login.min.js" asp-append-version="true"></script>
    </environment>
}


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a asp-area="" asp-controller="Login" asp-action="Index" class="navbar-brand">
                <span style="font-size:1.3em;">简单猫 |</span>  商家中心
            </a>
        </div>
    </div>
</nav>
<div class="container body-content">

    <div class="row margin-top-100">
        <div class="login-container">
            <h4 class="login-label">帐号密码登录</h4>
            <div class="loginFrame">
                <form class="form-horizontal margin-top-10">
                    <div class="alert alert-danger hide" id="alert">
                        <i class="fa fa-warning"></i>
                        <span id="msg"></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon addon-color">
                            <i class="fa fa-user-circle-o"></i>
                        </span>
                        <input class="form-control login-input" id="txtUser" placeholder="用户名" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon addon-color">
                            <i class="fa fa-key"></i>
                        </span>
                        <input class="form-control login-input" id="txtPwd" type="password" placeholder="密码" />
                    </div>
                    <div>
                        <button class="btn btn-danger btn-block" id="btnLogin">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
