html {
    overflow-x: hidden;
}

.tab-content > div {
    min-height: 600px;
}

.nav-tabs a {
    color: #ea7042;
}

.noExist {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.tab-content {
    background-color: #fff;
}

.line1 {
    display: flex;
    justify-content: space-around;
}

    .line1 .logo {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

        .line1 .logo img {
            width: 100px;
            height: 100px;
            border-radius: 10px;
        }

    .line1 .status {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .line1 .operate {
        padding-right: 30px;
        width: 120px;
    }

.auth-list {
    list-style: none;
    font-size: 14px;
    color: #777;
    margin: 10px 0 0 0;
    padding: 0;
}
.auth-list li {
    float: left;
    margin-right: 30px;
}
    .auth-list li:before {
        content: "\f00c";
        color: #3c763d;
        font: normal normal normal 14px/1 FontAwesome;
        margin-right: 3px;
    }


.base-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 120%;
    color: #555;
}

    .base-info > li {
        margin: 10px 0;
    }

        .base-info > li:first-child {
            margin-top: 0;
        }

.qrcode {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.qrcode img {
    width: 300px;
    height: 300px;
}
