
@{
    ViewData["Title"] = "营业统计";
}
@section Styles {
    <environment include="Development">
        <link href="~/css/report/index.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/report/index.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

}
@section Scripts {
    <script>
        var pageData = {
            list: JSON.parse('@Html.Raw(ViewBag.list)'),
            products: JSON.parse('@Html.Raw(ViewBag.products)'),
            productPrices: JSON.parse('@Html.Raw(ViewBag.productPrices)')
        };
    </script>
    <environment include="Development">
        <script src="~/lib/echarts/echarts.js"></script>
        <script src="~/js/report/index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/echarts/echarts.min.js"></script>
        <script src="~/js/report/index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="mainframe" id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="title">营业统计</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="report-header">
                        <div>
                            <p class="report-title">今日营业额</p>
                            <p class="report-content">
                                <i class="fa fa-rmb"></i>
                                <span v-text="+price.toFixed(2)"></span>
                            </p>
                        </div>
                        <div>
                            <p class="report-title">今日订单数</p>
                            <p class="report-content" v-text="quantity">
                            </p>
                        </div>
                    </div>
                    <div class="report-chart">
                        <span class="pull-right text-primary" style="margin-right: 60px; font-size: 1.5em;">近7日营业额</span>
                        <div class="chart" id="chart">
                        </div>
                    </div>
                </div>
                <div class="panel-heading margin-top-20">
                    <h3 class="panel-title">
                        <span class="title">今日TOP 10</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="report-table col-md-6 col-xs-12">
                        <table class="table table-bordered">
                            <caption>
                                销量排行榜
                            </caption>
                            <thead>
                                <tr>
                                    <th width="100" class="text-center">排名</th>
                                    <th>商品名称</th>
                                    <th width="150">销售数量</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in products">
                                    <td class="text-center">
                                        <span v-text="index + 1"></span>
                                    </td>
                                    <td v-text="item.name"></td>
                                    <td v-text="item.quantity"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="report-table col-md-6 col-xs-12">
                        <table class="table table-bordered">
                            <caption>
                                销售额排行榜
                            </caption>
                            <thead>
                                <tr>
                                    <th width="100" class="text-center">排名</th>
                                    <th>商品名称</th>
                                    <th width="150">销售金额</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in productPrices">
                                    <td class="text-center">
                                        <span v-text="index + 1"></span>
                                    </td>
                                    <td v-text="item.name"></td>
                                    <td v-html="currency(item.amount)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 100px;"></div>
</div>
