var status = {
    "1": "已付款", 
    "2": "已拒单", 
    "4": "待配送", 
    "8": "待配送", 
    "16": "配送中", 
    "32": "配送异常", 
    "64": "已送达", 
    "128": "用户已确认收货", 
    "256": "未付款", 
    "512": "已评价", 
    "1024": "已关闭", 
    "2048": "配送已取消", 
    "4096": "订单已取消"
};
var order = {

    totalPrice: function (cartList) {
        var total = 0;
        cartList.forEach(function(a) {
            total += a.quantity * a.price;
        });
        return total;
    },
    productQuantity: function(order){
        var quantity = 0;
        order.products.forEach(function(obj){
            quantity += obj.quantity;
        });
        return quantity;
    },
    orderStatus: function(order){
        var name = status[order.status + ""] || "";
        if(name == "未付款") {
            var reg = getRegExp("\d+", "g");
            var time = Date.parse(getDate()) - parseInt(reg.exec(order.createTime));
            if(time > 300 * 60 * 1000) {          // 如果下单时间已经超过5分钟，则显示订单已取消
                name = status["4096"];
            }
        }
        return name;
    }
}


module.exports = {
    cartTotalPrice: order.totalPrice,
    productQuantity: order.productQuantity,
    orderStatus: order.orderStatus
}