
@{
    ViewData["Title"] = "堂食订单";
}
@section Styles {
    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    </environment>

}
@section Scripts {
    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap/dist/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="~/js/store/order.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap/dist/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="~/js/store/order.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="mainframe" id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default" style="margin-bottom: 1px;">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="title">堂食订单</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="flex-row margin-bottom-10">
                            <label>下单时间：</label>
                            <input autocomplete="off" class="form-control width-200" id="txtStartDate" v-model="startDate" />
                            <label style="width: 30px; text-align: center;">-</label>
                            <input autocomplete="off" class="form-control width-200" id="txtEndDate" v-model="endDate" />
                            <label class="margin-left-20">订单编号：</label>
                            <input autocomplete="off" class="form-control width-200" v-model="code" />
                            <button class="btn btn-primary margin-left-20" @@click="search()">
                                <i class="fa fa-search"></i>
                                搜索
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body" style="min-height:400px;">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="70">流水号</th>
                                <th width="220">订单编号</th>
                                <th>下单时间</th>
                                <th>餐台</th>
                                <th>收银员</th>
                                @*<th width="80">用餐人数</th>*@
                                @*<th>支付方式</th>*@
                                <th>支付时间</th>
                                <th width="100">订单状态</th>
                                @*<th>餐位费</th>*@
                                <th>实收金额</th>
                                @*<th>优惠金额</th>*@
                                <th width="120"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in items">
                                <td v-text="item.identifier"></td>
                                <td v-text="item.code"></td>
                                <td v-text="item.createTime"></td>
                                <td v-text="item.deskName"></td>
                                <td v-text="item.staffName"></td>
                                @*<td v-text="item.peopleNumber"></td>*@
                                @*<td v-text="item.paymentTypeName"></td>*@
                                <td v-text="item.payTime"></td>
                                <td v-html="orderStatus(item.orderStatus)"></td>
                                @*<td>
                                    <span class="fa fa-rmb" v-text="item.mealFee"></span>
                                </td>*@
                                <td>
                                    <span class="fa fa-rmb" v-text="item.actualAmount"></span>
                                </td>
                                @*<td>
                                    <span class="fa fa-rmb" v-text="item.preferentialAmount"></span>
                                </td>*@
                                <td>
                                    <a @@click="catInfo(item)" class="text-primary">查看</a>
                                    <a @@click="reversePay(item)" class="text-primary margin-left-20">反结账</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot v-if="items == null || items.length == 0">
                            <tr>
                                <th colspan="9">暂无任何订单数据...</th>
                            </tr>
                        </tfoot>
                    </table>
                    <cat-pager :page-count="paging.pageCount" :page-index="paging.pageIndex" page-position="center" @@next="next" @@page="page" @@prev="pre"></cat-pager>
                </div>
            </div>
        </div>
    </div>
</div>