<div class="form-horizontal" id="reservePay">
    <div class="form-group">
        <label class="col-xs-2">
            订单编号：
        </label>
        <span class="col-xs-4" v-text="entity.code">
        </span>
        <label class="col-xs-2">
            当日流水：
        </label>
        <span class="col-xs-3" v-text="entity.identifier">
        </span>
    </div>
    <div class="form-group">
        <label class="col-xs-2">
            餐桌：
        </label>
        <span class="col-xs-4" v-text="entity.deskName">
        </span>
        <label class="col-xs-2">
            用餐人数：
        </label>
        <span class="col-xs-3" v-text="entity.peopleNumber">
        </span>
    </div>
    <div class="form-group">
        <label class="col-xs-2">
            结算时间：
        </label>
        <span class="col-xs-4" v-text="entity.payTime">
        </span>
        <label class="col-xs-2">
            支付方式：
        </label>
        <span class="col-xs-3">
            <span>
                {{entity.tangOrderPayments | paymentFilter}}
            </span>
            <a @@click="editPayment()" class="text-primary margin-left-20">修改</a>
        </span>
    </div>
    <div class="form-group">
        <label class="col-xs-2">
            订单来源：
        </label>
        <span class="col-xs-4">
            {{entity.orderSource | sourceFilter}}
        </span>
        <label class="col-xs-2">
            订单类别：
        </label>
        <span class="col-xs-3">
            {{entity.orderMode | modeFilter}}
        </span>
    </div>
    <div class="form-group">
        <label class="col-xs-2">
            收银员：
        </label>
        <span class="col-xs-4">
            {{entity.staffName}}
        </span>
        <label class="col-xs-2">
            订单状态：
        </label>
        <span class="col-xs-3">
            {{entity.orderStatus | statusFilter}}
        </span>
    </div>
    <div class="form-group">
        <label class="col-xs-2">
            订单备注：
        </label>
        <span class="col-xs-4">
            {{entity.remark}}
        </span>
        <label class="col-xs-2">
            支付备注：
        </label>
        <span class="col-xs-3" v-text="entity.paymentRemark">
        </span>
    </div>
        <div class="form-group" v-if="!!entity.cancelReason">
            <label class="col-xs-2">
                退款原因：
            </label>
            <span class="col-xs-8">
                {{entity.cancelReason}}
            </span>
        </div>
    <div class="form-group">
        <label class="col-xs-2 nowarp">
            商品原价总额：
        </label>
        <span class="col-xs-4">
            {{'￥' + +(entity.originalAmount - entity.mealFee).toFixed(2)}}
        </span>
        <label class="col-xs-2">
            餐位费：
        </label>
        <span class="col-xs-3">
            {{entity.mealFee}}
        </span>
    </div>
    <div class="form-group">
        <label class="col-xs-2 nowarp">
            单品折扣立减：
        </label>
        <span class="col-xs-4">
            {{'￥' + +(entity.originalAmount - entity.amount).toFixed(2)}}
        </span>
        <label class="col-xs-2 nowarp">
            整单折扣立减：
        </label>
        <span class="col-xs-3">
            {{'￥' + +(entity.amount - entity.actualAmount - entity.preferentialAmount).toFixed(2)}}
        </span>
    </div>
    <div class="form-group">
        <label class="col-xs-2 nowarp">
            整单优惠立减：
        </label>
        <span class="col-xs-4">
            {{'￥' + entity.preferentialAmount}}
        </span>
        <label class="col-xs-2">
            订单原价：
        </label>
        <span class="col-xs-3">
            {{'￥' + entity.originalAmount}}
        </span>
    </div>
    <div class="form-group">
        <label class="col-xs-2 col-xs-offset-6">
            订单实收：
        </label>
        <span class="col-xs-3" style="color: red;">
            {{'￥' + entity.actualAmount}}
        </span>
    </div>
    <div class="form-group">
        <div class="col-xs-11">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="6" style="position: relative; text-align: center">
                            订单商品
                            <a class="text-primary pull-right" @@click="">
                                <i class="fa fa-plus">添加</i>
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <th>商品名称</th>
                        <th>规格描述</th>
                        <th>备注</th>
                        <th width="80">总价</th>
                        <th width="80">数量</th>
                        <th width="60">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in entity.tangOrderProducts">
                        <td>
                            <span v-text="item.name"></span>
                        </td>
                        <td v-text="item.description"></td>
                        <td v-text="item.Remark"></td>
                        <td v-text="item.amount"></td>
                        <td v-text="item.quantity"></td>
                        <td>
                            <a @@click.prevent="" class="text-primary">修改</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



