
.comment {
    display:flex;
    flex-flow: row nowrap;
    align-items:stretch;
    padding: 1em;
    border-top: 1px solid #ccc;
}
    .comment .face {
        width: 10em;
        border-right: 1px solid #ccc;
        text-align: center;
        display:flex;
        flex-flow: column;
        align-items:center;
    }
    .comment .face img{
        width: 4em;
        height: 4em;
        border-radius: 50%;
    }
    
.comment-info {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}
.comment-score{
    display: flex;
    border-bottom: 1px solid #ccc;
}
    .comment-score .level {
        padding: 1em;
        width: 100%;
    }

.comment-content {
    padding: 10px;
}

.comment-time p {
    text-align: right;
    padding-right: 3em;
}

.fa-star {
    margin-right: 3px;
    color: gray;
}