
ul.type {
    max-height: 500px;
    min-height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    overflow: auto;
}

    ul.type > li {
        padding: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        ul.type > li:hover {
            color: #ea7042;
            cursor: pointer;
        }

ul.product {
    padding-left: 30px;
    list-style-type: disc;
    color: #333;
}

    ul.product li {
        line-height: 30px;
    }

    ul.product a {
        color: #333;
        padding: 10px 2px;
    }

ul.productList {
    list-style: none;
    max-height: 500px;
    min-height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    overflow: auto;
}

    ul.productList > li {
        line-height: 30px;
        color: #ea7042;
    }

        ul.productList > li a {
            color: #ccc;
        }

            ul.productList > li a:hover {
                color: #555;
                cursor: pointer;
            }

.store-container {
    max-height: 200px;
    margin: 0 auto;
    border: 1px solid #ccc;
    overflow: auto;
    width: 95%;
    margin-bottom: 10px;
    border-radius: 5px;
}
.label-checkbox {
    display: inline-block;
}
    .label-checkbox:hover, .fa-minus-square:hover, .fa-plus-square:hover {
        color: #ea7042;
    }

