
@{
    ViewData["Title"] = "历史订单";
}
@section Styles {
    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.css" rel="stylesheet" />
        <link href="~/css/order/index.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <link href="~/css/order/index.min.css" rel="stylesheet" />
    </environment>

}
@section Scripts {
    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap/dist/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="~/js/order/history.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap/dist/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="~/js/order/history.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="mainframe" id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="title">@ViewData["Title"]</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-1 text-right">选择日期：</label>
                <div class="col-md-6">
                    <div class="input-group pull-left" style="width: 200px;">
                        <input type="text" class="form-control" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" id="txtStartDate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <span class="pull-left" style="margin-top: 8px;padding: 0 10px;">至</span>
                    <div class="input-group pull-left" style="width: 200px;">
                        <input type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="txtEndDate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <button class="btn btn-primary pull-left" style="margin-left: 20px;" @@click="search()">
                        <i class="fa fa-search"></i>
                        搜索
                    </button>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-order" style="min-width: 1160px;">
            <thead>
                <tr>
                    <th></th>
                    <th>订单编号</th>
                    <th>下单时间</th>
                    <th>订单类型</th>
                    <th>支付方式</th>
                    <th>状态</th>
                    <th>金额</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="order in orderList">
                    <td colspan="8" style="padding: 0">
                        <table class="table table-order">
                            <tr title="点击查看详情" @@click="expend(order)" class="tr-hover">
                                <td>
                                    <span class="small text-primary" v-text="order.expend ? '收起' : '展开'"></span>
                                </td>
                                <td><i class="fa fa-warning text-danger" v-if="order.status == 1"></i><span :class="{'text-danger': order.status == 1}" v-text="order.orderCode"></span></td>
                                <td v-text="order.createTime"></td>
                                <td v-html="category(order.category)"></td>
                                <td v-html="paymentType(order.paymentType)"></td>
                                <td v-html="status(order.status)"></td>
                                <td><i class="fa fa-jpy"></i> <span v-text="order.price"></span></td>
                            </tr>
                            <tr v-show="order.expend">
                                <td></td>
                                <td colspan="7">
                                    <hr />
                                    <div class="row" v-if="!!order.errorReason">
                                        <div class="col-md-6">
                                            <div class="alert alert-danger">
                                                <label class="text-danger" v-text="order.errorReason"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="text-primary">配送信息</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <p>配送地址： <span v-text="order.receiverName + '-' + order.phone + '-' + order.receiverAddress"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>配送时间： <span v-text="order.distributionTime"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>配送方式： <span v-html="deliveryType(order.deliveryMode)"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>备注： <span v-text="order.remark"></span></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="text-primary">订单信息</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-6">
                                            <p>订单编号： <span v-text="order.orderCode"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>下单时间： <span v-text="order.createTime"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>订单类型： <span v-html="category(order.category)"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>支付方式： <span v-html="paymentType(order.paymentType)"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>微信支付流水号： <span v-text="order.wxPayCode"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>应付款：<i class="fa fa-jpy"></i> <span v-text="order.price"></span></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <table class="product-detail">
                                                <thead>
                                                    <tr>
                                                        <td>商品名称</td>
                                                        <td>规格描述</td>
                                                        <td>总价</td>
                                                        <td>数量</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="product in order.products">
                                                        <td v-text="product.name"></td>
                                                        <td v-text="product.description"></td>
                                                        <td><i class="fa fa-jpy"></i> <span v-text="product.price"></span></td>
                                                        <td v-text="product.quantity"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </tbody>
            <tfoot v-if="orderList.length == 0">
                <tr>
                    <td colspan="8">
                        暂无订单数据...
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="pull-right" v-show="pageObj.pageCount > 1">
            <div>
                <ul class="pagination cat-pagination pagination-sm">
                    <li v-bind:class="{'disabled': pageObj.pageIndex === 1}" v-on:click="prevPage()">
                        <a>
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </li>
                    <li v-for="num in pageObj.pageCount" v-bind:class="{'active': num === pageObj.pageIndex}" v-on:click="changePage(num)">
                        <a>
                            <span>{{num}}</span>
                        </a>
                    </li>
                    <li v-bind:class="{'disabled': pageObj.pageIndex === pageObj.pageCount}" v-on:click="nextPage()">
                        <a>
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
