
@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <environment include="Development">
        <link href="~/css/order/index.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/order/index.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

}
@section Scripts {
    <script>
        var pageObj = {
            reasonList: JSON.parse('@Html.Raw(ViewBag.reasonList)'),
            deviceList: JSON.parse('@Html.Raw(ViewBag.deviceList)' || '[]'),
            code: '@ViewBag.code'
        }
    </script>
    <environment include="Development">
        <script src="~/js/order/index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/order/index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="mainframe" id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="title">今日订单</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-1 text-left">订单编号：</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" v-model.trim="search_code" @@keyup.enter="search()" />
                </div>
                <label class="control-label col-md-1">手机号：</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" v-model.trim="search_phone" @@keyup.enter="search()" />
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" @@click="search()">
                        <i class="fa fa-search"></i>
                        搜索
                    </button>
                    @*<button class="btn btn-primary">
                            <i class="fa fa-file-excel-o"></i>
                            导出统计表格
                        </button>*@
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1 text-left col-xs-2">小票打印设备：</label>
                <div class="col-md-2 col-xs-4">
                    <select class="form-control" v-model="printerCode" @@change="changePrinter()">
                        <option v-for="device in deviceList" :value="device.code">{{device.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn" v-bind:class="{ 'btn-primary': item.selected, 'btn-default': !item.selected}" v-for="item in buttons" v-text="item.name" @@click="changeType(item)"></button>
        </div>
        <table class="table table-order" style="min-width: 1000px;">
            <thead>
                <tr>
                    <th></th>
                    <th>订单编号</th>
                    <th>下单时间</th>
                    <th>订单类型</th>
                    @*<th>支付方式</th>*@
                    <th>状态</th>
                    <th>金额</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="order in orderList">
                    <td colspan="7" style="padding: 0">
                        <table class="table table-order">
                            <tr title="点击查看详情" @@click="expend(order)" class="tr-hover">
                                <td>
                                    <span class="small text-primary" v-text="order.expend ? '收起' : '展开'"></span>
                                </td>
                                <td><i class="fa fa-warning text-danger" v-if="order.status == 1"></i><span :class="{'text-danger': order.status == 1}" v-text="order.orderCode"></span></td>
                                <td v-text="order.createTime"></td>
                                <td v-html="category(order.category)"></td>
                                @*<td v-html="paymentType(order.paymentType)"></td>*@
                                <td v-html="status(order.status)"></td>
                                <td><i class="fa fa-jpy"></i> <span v-text="order.price"></span></td>
                                <td class="operate">
                                    <div class="kui-button m-right-xs" v-if="order.status == 1">
                                        <button type="button" class="btn btn-sm kui-button-primary" @@click.stop="receive(order)">
                                            接单并配送
                                        </button>
                                    </div>
                                    <div class="kui-button m-right-xs" v-if="order.status == 1">
                                        <button type="button" class="btn btn-sm kui-button-primary" @@click.stop="reject(order)">
                                            拒绝接单
                                        </button>
                                    </div>
                                    <div class="kui-button m-right-xs" v-if="order.status == 4 || order.status == 2048">
                                        <button type="button" class="btn btn-sm kui-button-primary" @@click.stop="receive(order)">
                                            配送
                                        </button>
                                    </div>
                                    <div class="kui-button m-right-xs" v-if="order.status == 8 || order.status == 16 || order.status == 32">
                                        <button type="button" class="btn btn-sm kui-button-primary" @@click.stop="cancel(order)">
                                            取消配送
                                        </button>
                                    </div>
                                    <div class="kui-button m-right-xs" v-if="order.deliveryMode == 1 && order.status == 16">
                                        <button type="button" class="btn btn-sm kui-button-primary" @@click.stop="achieve(order)">
                                            自送已到达
                                        </button>
                                    </div>
                                    <div class="kui-button m-right-xs" v-if="order.status == 4 || order.status == 8 || order.status == 16">
                                        <button type="button" class="btn btn-sm kui-button-primary" @@click.stop="print(order)">
                                            打印小票
                                        </button>
                                    </div>
                                    <div class="kui-button m-right-xs" v-if="order.logisticsType == 5 && (order.status == 4 || order.status == 8)">
                                        <button type="button" class="btn btn-sm kui-button-primary" @@click.stop="addTip(order)">
                                            添加小费
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr v-show="order.expend">
                                <td></td>
                                <td colspan="6">
                                    <hr />
                                    <div class="row" v-if="!!order.errorReason">
                                        <div class="col-md-6">
                                            <div class="alert alert-danger">
                                                <label class="text-danger" v-text="order.errorReason"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="text-primary" v-html="'<span style=\'color: #000\'>#' + order.identifier + '</span> 配送信息'"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <p>配送地址： <span v-html="order.receiverName + gender(order) + '-' + order.phone + '-' + order.receiverAddress"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>配送时间： <span v-text="order.distributionTime"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>配送方式： <span v-html="deliveryType(order)"></span> &nbsp;&nbsp;<a href="javascript:void(0)" v-if="order.logisticsType == 5" class="text-primary" @@click="checklogistics(order)">查看</a></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>备注： <span v-text="order.remark"></span></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="text-primary">订单信息</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-6">
                                            <p>订单编号： <span v-text="order.orderCode"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>下单时间： <span v-text="order.createTime"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>订单类型： <span v-html="category(order.category)"></span></p>
                                        </div>
                                        <div class="col-md-8 col-xs-6">
                                            <p>微信支付流水号： <span v-text="order.wxPayCode"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">

                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>包装费：<i class="fa fa-jpy"></i> <span v-text="order.packagePrice"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>配送费：<i class="fa fa-jpy"></i> <span v-text="order.freight"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>应付款：<i class="fa fa-jpy"></i> <span v-text="order.oldPrice"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>满减活动：- <i class="fa fa-jpy"></i> <span v-text="!order.saleFullReduce ? 0 : order.saleFullReduce.reduceMoney"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p>优惠券：- <i class="fa fa-jpy"></i> <span v-text="!order.saleCouponUser ? 0 : order.saleCouponUser.value"></span></p>
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            <p style="color:red;">实付款：<i class="fa fa-jpy"></i> <span v-text="order.price"></span></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <table class="product-detail">
                                                <thead>
                                                    <tr>
                                                        <td>商品名称</td>
                                                        <td>规格描述</td>
                                                        <td>总价</td>
                                                        <td>数量</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="product in order.products">
                                                        <td v-text="product.name"></td>
                                                        <td v-text="product.description"></td>
                                                        <td><i class="fa fa-jpy"></i> <span v-text="product.price"></span></td>
                                                        <td v-text="product.quantity"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </tbody>
            <tfoot v-if="orderList.length == 0">
                <tr>
                    <td colspan="8">
                        暂无订单数据...
                    </td>
                </tr>
            </tfoot>
        </table>
        <cat-pager :page-count="pageObj.pageCount" :page-index="pageObj.pageIndex" page-position="right" @@next="nextPage" @@page="changePage" @@prev="prevPage"></cat-pager>
    </div>
    <div class="modal fade" id="modal-sendType" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title">选择配送方式</h5>
                </div>
                <div class="modal-body">
                    <ul class="select-type">
                        <li v-for="item in sendTypes" @@click="selectSendType(item)" :class="{'active': item.selected, 'doing': item.doing}">
                            <img :src="item.doing ? '/images/pao-3.png' : (item.selected ? '/images/pao-2.png': '/images/pao-1.png')" /> {{item.name}}
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @@click="submitSend()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
