body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #fff;
}
.navbar-inverse {
    padding-left: 10px;
    background-color: #ea7042;
    border-color: #ea7042;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.margin-top-100{
    margin-top: 140px;
}
.margin-top-10{
    margin-top: 10px;
}

.login-container {
    margin: 0 auto;
    width: 25%;
}

.login-label {
    padding-left: 10px;
    letter-spacing: .1em;
    color: #ea7042;
}
.loginFrame{
    border-top: 1px solid #eee;
}
.addon-color {
    background-color: #fff;
    border: 1px solid #ccc;
}
.login-input {
    border: 1px solid #ccc;
}
.login-input:focus {
    border: 1px solid #ea7042;
    box-shadow: 0 0 5px 0 #ea7042;
}
.btn-danger {
    background-color: #ea7042;
    border-color: #ea7042;
}
    .btn-danger:hover {
        background-color: #dc5b2b;
    }
.input-group {
    margin-bottom: 15px;
}
.alert-danger {
    padding: 10px;
    padding-left: 20px;
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}