::-webkit-scrollbar {
    width: 12px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset006pxrgba(0,0,0,0.3);
    border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    -webkit-box-shadow: inset006pxrgba(0,0,0,0.5);
}

    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(255,0,0,0.4);
    }

body {
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#qrCode {
}

/*
    -----------------------------------------------------
    基础
*/
.bold {
    font-weight: 800;
}

.width-30 {
    width: 30%;
}

.width-10 {
    width: 10%;
}

div.require::after {
    content: "*";
    color: red;
    position: absolute;
    top: 2px;
    right: -10px;
}

span.require {
    position: relative;
}

    span.require::before {
        content: "*";
        color: red;
        position: absolute;
        font-size: 90%;
        top: 0;
        left: -10px;
    }

.cat-pagination li {
    user-select: none;
}

    .cat-pagination li > a {
        z-index: 3;
        color: #555;
        cursor: pointer;
        background-color: #fff;
        border-color: #ccc;
        margin-right: 7px;
        border-radius: 3px;
    }

        .cat-pagination li > a:hover {
            color: #ea7042;
            border-color: #ea7042;
            background-color: #fff;
        }

    .cat-pagination li.active > a {
        cursor: default;
        color: #fff;
        border-color: #ea7042;
        background-color: #ea7042;
    }

        .cat-pagination li.active > a:hover {
            border-color: #ea7042;
            background-color: #ea7042;
        }
/*------------------------------------------------------*/
@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-20 {
    margin-right: 20px;
}
.margin-left-20 {
    margin-left: 20px;
}

.margin-right-5 {
    margin-right: 5px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #EDEDED;
}

#wrapper {
    min-width: 1440px;
    height: 100%;
}

#page-wrapper {
    padding: 15px 15px;
    background: #EDEDED;
}

#page-inner {
    position: relative;
    width: 100%;
    margin: 0;
    background-color: transparent;
    padding: 0;
    height: calc(100% - 60px);
}

.header .container-fluid {
    padding: 0;
}

.text-center {
    text-align: center;
}

.no-boder {
    border: 1px solid #f3f3f3;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 7px;
    margin-bottom: -5px;
}

h2 {
    color: #000;
}

h4 {
    padding-top: 10px;
}

.square-btn-adjust {
    border: 0px solid transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

p {
    font-size: 16px;
    padding-left: 10px;
    line-height: 25px;
}

.navbar-side {
    z-index: 0;
}

.copyrights {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.panel {
    border-radius: 0px;
}

.navbar-side .nav > li > a > i {
    color: #8C8C8C;
    padding: 8px;
    width: 30px;
    text-align: center;
}

.top-navbar {
    position: fixed;
    width: 100%;
    z-index: 300;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #ea7042;
    color: #fff;
    z-index: 300;
    box-shadow: 0 0 5px 0 #000;
}

    #navbar .navbar-brand {
        color: #fff;
    }

    #navbar #nav-bar-userinfo {
        float: right;
        list-style: none;
        color: #fff;
    }

        #navbar #nav-bar-userinfo li {
            position: relative;
            float: left;
            height: 60px;
            line-height: 60px;
            padding-left: 20px;
            padding-right: 20px;
            color: #fff;
        }

            #navbar #nav-bar-userinfo li a {
                color: #fff;
                text-decoration: none;
            }

                #navbar #nav-bar-userinfo li a:hover {
                    color: #eee;
                }

.msg-tip {
    position: absolute;
    background: #fff;
    color: red;
    border-radius: 50%;
    padding: 1px 3px;
    left: 35px;
    top: 10px;
    line-height: 15px;
    font-size: .6em;
}

.navbar-brand {
    padding: 10px 15px;
}

.navbar-side {
    z-index: 1;
    position: absolute;
    width: 260px;
    top: 60px;
}

#page-wrapper {
    position: relative;
    top: 55px;
    box-shadow: 0 0 10px #757575;
    height: 100%;
}


.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
    text-decoration: none;
    background-color: #4D4D4D;
    color: #fff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #ea7042;
    border-color: #F36A5A;
    color: #fff !important;
}

.breadcrumb {
    padding: 12px 10px 12px 20px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background: #fff;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-size: 13px;
}

    .dropdown-menu > li > a i {
        color: #1F1F1F;
    }

.text-muted {
    color: #FB5651;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 4px 7px;
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #F36A5A;
    border-radius: 10px;
}

.closed {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    color: #EDEDED !important;
    margin-top: 12px !important;
}

    .closed i {
        color: #fff;
    }
/*----------------------------------------------
   DASHBOARD STYLES    
------------------------------------------------*/
.page-header {
    margin: 0;
    border-bottom: 1px solid transparent;
    text-align: left;
    background-color: rgb(237, 237, 237);
    padding: 32px 22px 32px 0;
    color: #323232;
}

.panel-left {
    width: 100px;
    height: 100px;
    background: #0866C6; /* border: 2px solid #4590DA; */
    /* border-radius: 100%; */
    overflow: hidden;
    margin: 12px;
}

    .panel-left .fa-5x {
        font-size: 3em;
        color: rgb(240, 155, 34);
        padding: 29px 0;
        margin-bottom: 30px;
    }

.panel-right {
    height: 124px;
    background: transparent;
    margin-bottom: 0;
    color: #AFAFAF;
    float: left;
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    text-shadow: none;
    font-weight: normal;
    text-align: center;
}

    .panel-right h3 {
        font-size: 40px;
        padding: 18px 10px 13px 0;
        color: #5D5D5D;
    }

    .panel-right strong {
        font-weight: normal;
        color: #737373;
    }

.panel-back {
    background-color: #fff;
}

.panel-default {
    border-color: #ECECEC;
}

    .panel-default > .panel-heading {
        color: #555;
        border-color: #FFF;
        font-weight: bold;
        background: #FFFFFF;
        font-size: 16px;
        text-shadow: none;
    }

.panel-heading {
    /* padding: 15px 15px 0px; */
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header {
    margin: 0 30px;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background-color: #ea7042 !important;
}

#wrapper .bootstrap-switch {
    border: 1px solid #fff;
}

h1.page-header small {
    color: #7E7E7E;
    margin-left: 15px;
    font-size: 20px;
}

.sub-title {
    padding: 20px 0 8px;
    font-weight: bold;
}

.chartJs {
    padding-right: 15px;
}

i.fa.fa-bars {
    font-size: 20px;
    margin: 12px 0 0;
}

    i.fa.fa-bars:hover {
        color: #eee;
    }

.board .panel {
    padding: 0;
    margin: 0;
    border: none;
    background: #EDEDED;
}

.board .number {
    float: left;
}

.board .icon {
    float: right;
}

.number h3 {
    font-size: 32px;
    color: #676767;
}

.number small {
    font-size: 14px;
    color: #AAB5BC;
    font-weight: 600;
    text-transform: uppercase;
    margin: 8px 5px;
    display: inline-block;
}

.board .panel .icon .fa {
    font-size: 30px;
    color: #FFFFFF;
    background: #30A5FF;
    padding: 19px;
}

.blue {
    background: #30A5FF !important;
}

.green {
    background: #1ABC9C !important;
}

.yellow {
    background: #FABE28 !important;
}

.red {
    background: #f36a5a !important;
}

.jumbotron {
    padding: 20px;
}

    .jumbotron p {
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: 200;
    }

.jumbotron, .well {
    background: #fff;
}

.noti-box {
    min-height: 100px;
    padding: 20px;
}

    .noti-box .icon-box {
        display: block;
        float: left;
        margin: 0 15px 10px 0;
        width: 70px;
        height: 70px;
        line-height: 75px;
        vertical-align: middle;
        text-align: center;
        font-size: 40px;
    }

.text-box p {
    margin: 0 0 3px;
}

.main-text {
    font-size: 25px;
    font-weight: 600;
}

.set-icon {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.panel-primary {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}

.green {
    /* background-color: #1CC09F; */
    color: #fff;
}

.blue {
    background-color: #FFFFFF;
    color: #002A4C;
}

.red {
    background-color: #FB6E51;
    color: #fff;
}

.brown {
    background-color: #F5B252;
    color: #fff;
}

.back-footer-red {
    background-color: #F0433D;
    color: #fff;
    border-top: 0px solid #fff;
}

.icon-box-right {
    display: block;
    float: right;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}

.main-temp-back {
    background: #8702A8;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

    .main-temp-back .text-temp {
        font-size: 40px;
    }

.back-dash {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #2EA7EB;
    color: #fff;
}

    .back-dash p {
        padding-top: 16px;
        font-size: 13px;
        color: #fff;
        line-height: 25px;
        text-align: justify;
    }

.color-bottom-txt {
    color: #000;
    font-size: 16px;
    line-height: 30px;
}
/*CHAT PANEL*/
/*Charts*/

.main-chart {
    background: #fff;
}

.easypiechart-panel {
    text-align: center;
    padding: 1px 0;
    margin-bottom: 20px;
}

.placeholder h2 {
    margin-bottom: 0px;
}

.donut {
    width: 100%;
}

.easypiechart {
    position: relative;
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 20px auto 10px auto;
}

    .easypiechart .percent {
        display: block;
        position: absolute;
        font-size: 26px;
        top: 38px;
        width: 120px;
    }

#easypiechart-blue .percent {
    color: #30a5ff;
}

#easypiechart-teal .percent {
    color: #1ebfae;
}

#easypiechart-orange .percent {
    color: #ffb53e;
}

#easypiechart-red .percent {
    color: #ef4040;
}


.chat-panel .panel-body {
    height: 450px;
    overflow-y: scroll;
}

.chat-box {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .chat-box li {
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: 1px dotted #808080;
    }

        .chat-box li.left .chat-body {
            margin-left: 90px;
        }

        .chat-box li .chat-body p {
            margin: 0;
            color: #8d8888;
        }

.chat-img > img {
    margin-left: 20px;
}

footer p {
    font-size: 14px;
}
/*----------------------------------------------
    MENU STYLES    
------------------------------------------------*/
div#sideNav:hover {
    color: #fff !important;
}

.user-image {
    margin: 25px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-height: 170px;
    max-width: 170px;
}

.top-navbar {
    margin: 0px;
}

    .top-navbar .navbar-brand {
        color: #fff;
        width: 260px;
        text-align: left;
        height: 60px;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        background: #ea7042;
    }

.navbar-brand b {
    color: #4BD28C;
}

.top-navbar .nav > li {
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

    .top-navbar .nav > li > a {
        position: relative;
        display: block;
        padding: 20px;
        color: #FFFFFF;
        margin: 0px;
    }

        .top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
            text-decoration: none;
            color: #203544 !important;
            background: transparent;
        }

.top-navbar .dropdown-menu {
    min-width: 230px;
    border-radius: 0 0 4px 4px;
    border: 0;
}

    .top-navbar .dropdown-menu > li > a:hover, .top-navbar .dropdown-menu > li > a:focus {
        color: #fb5651;
        background: none;
    }

.dropdown-tasks {
    width: 255px;
}

    .dropdown-tasks .progress {
        height: 8px;
        margin-bottom: 8px;
        overflow: hidden;
        background-color: #f5f5f5;
        border-radius: 0px;
    }

    .dropdown-tasks > li > a {
        padding: 0px 15px;
    }

    .dropdown-tasks p {
        font-size: 13px;
        line-height: 21px;
        padding-top: 4px;
    }

.active-menu, .active-menu i {
    background-color: #EDEDED !important;
    color: #F36A5A !important;
}

    .active-menu i {
        color: #F36A5A !important;
    }

.arrow {
    float: right;
    margin-top: 8px;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

    .nav-second-level li a {
        padding-left: 37px;
    }

    .nav-third-level li a {
        padding-left: 55px;
    }

.sidebar-collapse {
    height: 100%;
    overflow: auto;
    padding-bottom: 50px;
}

    .sidebar-collapse, .sidebar-collapse .nav {
        background: none;
    }

        .sidebar-collapse .nav {
            padding: 0;
        }

        .sidebar-collapse > .nav {
            padding-bottom: 60px;
        }

        .sidebar-collapse .nav > li > a {
            color: #B8B8B8;
            background: transparent;
            text-shadow: none;
            font-size: 16px;
        }

        .sidebar-collapse > .nav > li > a {
            padding: 18px 10px;
        }

        .sidebar-collapse > .nav > li {
            border-bottom: 1px solid rgba(107, 108, 109, 0.19);
        }

ul.nav.nav-second-level.collapse.in {
    background: #131212;
}

.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    outline: 0;
    background: #575757;
    color: #F36A5A;
}

.navbar-side {
    border: none;
    background: #3E3E3E;
    height: 100%;
}

.top-navbar {
    background: #ea7042;
    border-bottom: none;
}

    .top-navbar .nav > li > a > i {
        margin-right: 2px;
    }

    .top-navbar .navbar-brand:hover {
        color: #FFFFFF;
        background-color: #203544;
    }

.dropdown-user li {
    margin: 8px 0;
}

.navbar-default {
    border: 0px solid black;
}

.navbar-header {
    background: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #283643;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }

.nav > li > a > i {
    margin-right: 10px;
    color: #fff;
}

.dropdown-menu > li > a > strong {
    color: #0866C6;
    padding: 5px 0;
    display: inline-block;
    font-weight: 500;
}

#sideNav {
    float: left;
    left: 0;
    z-index: 3;
    color: #fff;
    cursor: pointer;
    border-radius: 0;
    width: 14px;
    font-size: 48px;
    line-height: 0;
    margin: 7px 0 0 20px;
}

ul.dropdown-menu.dropdown-messages li a div {
    padding: 2px 0;
}
/*----------------------------------------------
    UI ELEMENTS STYLES     
------------------------------------------------*/
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

/*----------------------------------------------
    MEDIA QUERIES     
------------------------------------------------*/

@media(min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 0;
    }


    .navbar-side {
        width: 260px;
        z-index: 1;
    }

    .navbar {
        border-radius: 0px;
    }
}

@media(max-width:768px) {
    #sideNav {
        display: none;
    }

    #page-wrapper {
        position: relative;
        top: 93px;
    }
}

@media(max-width:480px) {
    #page-wrapper {
        position: relative;
        top: 93px;
    }

    .page-header small {
        display: block;
        padding-top: 14px;
        font-size: 19px;
    }

    #sideNav {
        display: none;
    }

    .panel-left {
        width: 85px;
        height: 85px;
        border-radius: 100%;
        overflow: hidden;
        margin: 14px;
    }
}

#mainframe {
    border: none;
    min-width: 900px;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.product-type {
    width: 240px;
}

.product-main {
    width: calc(100% - 240px);
    background: #fff;
}

.btn-primary {
    background: #ea7042;
    border: #ea7042;
    color: #fff;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary[disabled]:hover {
        background: #dc5b2b;
    }

.text-primary {
    color: #ea7042;
}

a.text-primary:hover {
    cursor: pointer;
    text-decoration: none;
    color: #d6440d !important;
}


.mainframe {
    margin-top: 20px;
}

    .mainframe .container-fluid {
        margin: 0 20px;
        background: #f7f7f7;
    }

.category-title {
    height: 60px;
    line-height: 60px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.category-name {
    line-height: 60px;
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 10px;
    font-weight: bold;
}

.cate-tree {
    border-right: 1px solid #e5e5e5;
    background: #f7f7f7;
    height: 100%;
}

    .cate-tree .all-line {
        height: 60px;
        line-height: 60px;
        padding: 0 0 0 38px;
        cursor: pointer;
        border-bottom: 1px dashed #e5e5e5;
    }

    .cate-tree .selected {
        background-color: #fff;
        color: #ea7042 !important;
        font-weight: 700;
        position: relative;
    }

        .cate-tree .selected:before {
            position: absolute;
            content: "";
            width: 3px;
            height: 100%;
            left: 0;
            top: 0;
            background-color: #eb7143;
        }

        .cate-tree .selected:after {
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            background-color: #fff;
            border-top: 1px solid #e5e5e5;
            border-left: 1px solid #e5e5e5;
            clip-path: polygon(0 0,100% 0,0 100%,0 0);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 0;
            bottom: 0;
            margin: auto;
            right: -6px;
        }

    .cate-tree .all-line .all-cnt {
        color: #a0a0a0;
        font-size: 12px;
        font-weight: 400;
        float: right;
        margin-right: 20px;
    }

    .cate-tree .cate-panel {
        border-bottom: 1px dashed #e5e5e5;
    }

        .cate-tree .cate-panel.closed2 {
            background-color: #f7f7f7;
        }

        .cate-tree .cate-panel .cate-title {
            height: 60px;
            width: 240px;
            display: table-cell;
            vertical-align: middle;
            padding: 10px 0 10px 38px;
            cursor: pointer;
            position: relative;
        }

.relative {
    position: relative;
}

.cate-tree .cate-panel .cate-title .cate-name .cate-cnt {
    line-height: 20px;
}

.cate-tree .cate-panel .cate-cnt {
    color: #a0a0a0;
    font-size: 12px;
    font-weight: 400;
    float: right;
    margin-right: 20px;
}

.product-list {
    background-color: #fff;
}

    .product-list .tool-bar {
        min-height: 50px;
        border-bottom: 1px solid #e5e5e5;
        font-size: 12px;
    }

    .product-list .checkbox {
        margin-top: 0;
        margin-bottom: 0;
    }

.checkbox .label-checkbox {
    padding-left: 0;
}

.radio label, .checkbox label {
    min-height: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

.label-checkbox {
    position: relative;
    display: block;
    margin-bottom: 0;
    cursor: pointer;
    white-space: nowrap;
}

    .label-checkbox input[type="checkbox"] {
        margin-left: 0;
    }

.kui-checkbox input[type="checkbox"] + .custom-checkbox {
    margin-right: 6px;
}

.kui-checkbox input[type="checkbox"] + .custom-checkbox, .kui-checkbox input[type="checkbox"]:disabled + .custom-checkbox {
    border-radius: 1px;
}

input[type="checkbox"] + .custom-checkbox {
    width: 14px;
    height: 14px;
    font-family: fontAwesome;
    text-align: center;
    vertical-align: middle;
    content: "";
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 2px;
    margin: -3px 2px 0px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(160, 160, 160);
    border-image: initial;
}

input[type="checkbox"] + .custom-checkbox, input[type="checkbox"]:disabled + .custom-checkbox {
    position: relative;
    display: inline-block;
    line-height: 11px;
}



input[type="radio"] {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    cursor: pointer;
    opacity: 0;
}

.radio label, .checkbox label {
    min-height: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

.label-checkbox {
    position: relative;
    display: block;
    margin-bottom: 0;
    cursor: pointer;
}

    .label-checkbox input[type="radio"] {
        margin-left: 0;
    }

.kui-checkbox input[type="radio"] + .custom-checkbox {
    margin-right: 6px;
}

.kui-checkbox input[type="radio"] + .custom-checkbox, .kui-checkbox input[type="radio"]:disabled + .custom-checkbox {
    border-radius: 1px;
}

input[type="radio"] + .custom-checkbox {
    width: 14px;
    height: 14px;
    font-family: fontAwesome;
    text-align: center;
    vertical-align: middle;
    content: "";
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 2px;
    margin: -3px 2px 0px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(160, 160, 160);
    border-image: initial;
}

input[type="radio"] + .custom-checkbox, input[type="radio"]:disabled + .custom-checkbox {
    position: relative;
    display: inline-block;
    line-height: 11px;
}




.kui-button {
    display: inline-block;
    position: relative;
}

.m-right-xs {
    margin-right: 5px;
}

.kui-button .kui-button-primary, .kui-button .kui-button-primary:focus, .kui-button .kui-button-primary:active {
    background-color: #fff;
    border: 1px solid #ea7042;
    color: #2a2a2a;
}

.kui-button-primary:hover {
    background-color: #f3d2c5;
}

.kui-button-primary.hover {
    background-color: #f3d2c5;
}

.kui-button .btn-sm {
    padding-top: 4px;
    padding-bottom: 4px;
}

.kui-button .btn {
    border-radius: 2px;
}

.kui-button button {
    border-radius: 2px;
}

.kui-checkbox input[type="checkbox"] + .custom-checkbox {
    margin-right: 6px;
}

.kui-checkbox input[type="checkbox"] + .custom-checkbox, .kui-checkbox input[type="checkbox"]:disabled + .custom-checkbox {
    border-radius: 1px;
}

input[type="checkbox"]:checked + .custom-checkbox::before, input[type="radio"]:checked + .custom-checkbox::before {
    font-size: 12px;
    color: #fff;
    content: "\f00c";
}

input[type="checkbox"]:checked + .custom-checkbox, input[type="radio"]:checked + .custom-checkbox {
    background-color: #ea7042;
    border-color: #ea7042;
}

input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 4px 0px 0px;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0px;
}

input[type="checkbox"] {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    cursor: pointer;
    opacity: 0;
}

.modal-content {
    border-radius: 2px;
}

.modal-body {
    border-radius: 2px;
}

.modal-title {
    padding: 0;
}

.modal-header {
    background: #f9f9f9;
}

.add-container {
    padding: 20px;
}

.list-type {
    position: relative;
}

    .list-type .list-type-item {
        position: relative;
        margin-bottom: 10px;
    }

        .list-type .list-type-item .fa-plus, .list-type .list-type-item .fa-remove {
            margin-top: .3em;
            color: #ea7042;
            margin-right: 5px;
            opacity: .6;
        }

            .list-type .list-type-item .fa-plus:hover, .list-type .list-type-item .fa-remove:hover {
                opacity: 1;
                cursor: pointer;
            }

        .list-type .list-type-item .control-label {
            color: #3e3e3e;
            font-weight: 400;
        }

        .list-type .list-type-item .form-control {
            margin-right: 10px;
        }

/*
    添加商品面板
*/
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-default {
    border-color: #fafafa;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-default > .panel-heading {
    color: #2a2a2a;
    background-color: #fafafa;
    border-color: #fafafa;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.text-primary {
    color: #ea7042 !important;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: inherit;
    line-height: 30px;
}

    .panel-title title {
        height: 20px;
        color: #2a2a2a;
        font-size: 18px;
    }

    .panel-title .title::before {
        display: inline-block;
        width: 4px;
        height: 30px;
        margin-right: 8px;
        vertical-align: top;
        content: "";
        background-color: #ea7042;
    }

.panel-footer {
    padding: 10px 15px;
    background-color: #fafafa;
    border-top: 1px solid #fafafa;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


/*----------------------------------*/
.kui-button {
    margin-right: 20px;
}

.cat-upload {
    background-color: #f1f1f1;
    width: 200px;
    height: 150px;
    padding-top: 50px;
}

    .cat-upload .icon-upload {
        text-align: center;
        font-size: 1.5em;
        color: #ea7042;
    }

    .cat-upload .note-upload {
        text-align: center;
        color: #ea7042;
    }

.cover-wrap {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10000;
    text-align: center;
}

    .cover-wrap > div {
        width: 700px;
        height: 600px;
        background-color: #FFFFFF;
        overflow: hidden;
        border-radius: 4px;
    }

@media (min-width: 1200px) {
    .cover-wrap > div {
        margin: 100px auto;
    }
}

.cover-wrap .save-warp {
    height: 56px;
    line-height: 36px;
    text-align: center;
    padding-top: 8px;
}

    .cover-wrap .save-warp button {
        width: 120px;
        height: 36px;
        border-radius: 4px;
        background-color: #ff8a00;
        color: #FFFFFF;
        font-size: 14px;
        text-align: center;
        line-height: 36px;
        outline: none;
    }

.right-top {
    position: absolute;
    top: 0;
    right: 0;
}

.format-remove {
    font-size: 1.5em;
    color: #cacaca;
}

    .format-remove:hover {
        color: #444;
        cursor: pointer;
    }

/*
    商品属性浮动选择
*/
.product-attr {
    position: absolute;
    width: 200px;
    height: 80px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1000;
    display: none;
    transition: opacity .2s;
}

    .product-attr .arrow {
        position: absolute;
        transform: rotate(-45deg);
        background: #fff;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        width: 10px;
        height: 10px;
        left: 49%;
        top: -14px;
    }

    .product-attr .content {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .product-attr .content li {
            float: left;
            padding: 7px;
        }

            .product-attr .content li span {
                border: 1px solid #ccc;
                padding: 3px;
                border-radius: 3px;
                font-size: 85%;
            }

                .product-attr .content li span:hover {
                    border-color: #ea7042;
                    color: #ea7042;
                    cursor: pointer;
                    font-size: 85%;
                }

/*
    商品列表
*/
.products {
    background-color: #fff;
}

    .products .product {
        position: relative;
        cursor: pointer;
        min-height: 96px;
        padding: 11px 20px;
        font-size: 12px;
        border-bottom: 1px dashed rgb(229, 229, 229);
    }

        .products .product:hover {
            background-color: rgb(250, 250, 250);
        }

        .products .product .product-check {
            margin-top: 30px;
            width: 20px;
            float: left;
        }

        .products .product .product-content {
            width: calc(98% - 20px);
            float: left;
        }

            .products .product .product-content .product-img {
                width: 132px;
                padding: 10px;
                box-sizing: border-box;
                float: left;
                border: 1px solid transparent;
            }

                .products .product .product-content .product-img > div {
                    border: 1px solid transparent;
                }

                    .products .product .product-content .product-img > div:hover {
                        border-color: #dc5b2b;
                    }

            .products .product .product-content .product-no-img {
                width: 132px;
                padding: 10px;
                box-sizing: border-box;
                float: left;
            }

                .products .product .product-content .product-no-img > div {
                    border: 1px solid #eee;
                    background-color: #fff;
                    min-height: 110px;
                    min-width: 110px;
                    text-align: center;
                    padding-top: 45px
                }


            .products .product .product-content .product-data {
                width: calc(100% - 600px);
                margin-left: 10px;
                float: left;
                padding-top: 10px;
                margin-right: 20px;
            }

            .products .product .product-content .product-remark {
                width: 250px;
                float: left;
                margin-right: 10px;
                padding-top: 10px;
            }

            .products .product .product-content .product-operate {
                width: 120px;
                float: left;
                padding-top: 10px;
            }

.product-name {
    position: relative;
}

    .product-name * {
        font-size: 14px;
    }

.product-content .form-control {
    border-radius: 0;
    padding: 3px 6px;
    height: 28px;
    border: 1px solid #e5e5e5;
}

    .product-content .form-control:focus {
        border-color: #ea7042;
        box-shadow: 0 0 3px 0 #ea7042;
    }

.product-data .input-group-addon {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    padding: 0;
    border: none;
    width: auto;
}

    .product-data .input-group-addon .fa {
        padding: 7.5px;
        margin: 0;
    }

    .product-data .input-group-addon .fa-check {
        color: #fff;
        background-color: #ea7042;
        border: none;
    }

        .product-data .input-group-addon .fa-check:hover {
            color: #fff;
            background-color: #dc5b2b;
        }

    .product-data .input-group-addon .fa-remove {
        background-color: #ddd;
        margin-left: -4px;
    }

        .product-data .input-group-addon .fa-remove:hover {
            background-color: #ccc;
        }

.product-data .form-control + .input-group-addon {
    opacity: 0;
    transition: opacity .2s;
}

.product-data .form-control:focus + .input-group-addon {
    opacity: 1;
}

.product-name .form-control {
    font-weight: 800;
}

.product-format * {
    font-size: 12px;
}

.product-format li {
    list-style: none;
    margin-top: 8px;
    background-color: #f2f2f2;
    padding: 5px;
    vertical-align: middle;
    font-size: 12px;
    display: flex;
}

.product-format .li-item {
    display: flex;
    margin-right: 20px;
}

    .product-format .li-item p {
        padding: 0;
        margin-right: 5px;
        line-height: 24px;
        margin: 0 5px 0 0;
    }

.li-input {
    width: 55px;
    position: relative;
}

    .li-input .form-control {
        height: 24px;
    }

    .li-input .input-group-addon {
        right: -40px;
    }

        .li-input .input-group-addon .fa {
            padding: 6px;
        }

.product-format .format-operate {
    color: #ea7042;
    padding: 4px 0;
    box-sizing: border-box;
    font-size: 12px;
}

    .product-format .format-operate span:hover {
        color: #dc5b2b;
    }

.product-footer {
    position: relative;
}

.product-remark * {
    font-size: 12px;
}

.product-remark p {
    margin: 0;
    padding: 3px 6px;
}

.product-remark input {
    width: 150px;
    margin-left: 10px;
}

.product-operate > div {
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #ea7042;
}

ul.select-type {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

    ul.select-type li {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 150px;
        height: 100px;
        border: 1px solid #ea7042;
        margin: 10px 20px 0 0;
        color: #ea7042;
    }

        ul.select-type li img {
            width: 2em;
            margin-right: 1em;
        }

        ul.select-type li:hover {
            cursor: pointer;
            background-color: #fff1ec;
        }

        ul.select-type li.active {
            background-color: #ea7042;
            color: #fff;
        }

        ul.select-type li.doing {
            background-color: #fff;
            border: 1px solid #999;
            color: #999;
        }

        ul.select-type li.active:hover {
            background-color: #ec5e28;
        }

.nowarp {
    white-space: nowrap;
}

.jdcat-link {
    color: #ea7042;
}

    .jdcat-link:hover {
        color: #ec5e28;
    }

.cover-wrap > div {
    position: relative;
}

.area-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 2em;
}

    .area-close .fa {
        cursor: pointer;
    }

.printer td:last-child {
    width: 200px;
}

.printer .printer-default {
    display: none;
}

.printer:hover .printer-default {
    display: inline;
}


@media (max-width: 1200px) {
    .my-back1 {
        display: none;
    }
}

@media (min-width: 1200px) {
    .my-back2 {
        display: none;
    }
}

@media (min-width: 1200px) {
    .my-order1 {
        display: none;
    }
}

.input-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px 10px 15px;
}

    .input-line label {
        white-space: nowrap;
    }

    .input-line input[type=text] {
        flex-grow: 1;
    }

.businessTime {
    padding: 4px;
    width: 80px;
    height: 35px;
    border-radius: 6px;
    margin-right: 2px;
}

.btn-primary:focus, .btn-primary.focus {
    border-color: #dc5b2b;
}

.btn-primary:hover {
    border-color: #dc5b2b;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    border-color: #dc5b2b;
}

    .btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
        background-color: #ea7042;
    }

    .btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
        border-color: #dc5b2b;
    }

.setMeal {
    display: flex;
    flex-flow: row;
    padding: 10px;
    list-style: none;
    border: 1px solid #ccc;
}

    .setMeal > li {
        border: 1px solid #ccc;
        padding: 5px;
        margin-right: 10px;
    }

.color-red {
    color: red;
}

.copy-store {
    padding: 5px;
    margin: 0;
    list-style: none;
}

    .copy-store > li {
        margin-right: 20px;
        border: 1px solid #ea7042;
        border-radius: 5px;
        padding: 5px;
        float: left;
    }

    .copy-store > li {
        margin-right: 20px;
        border: 1px solid #ea7042;
        border-radius: 5px;
        padding: 5px;
        float: left;
    }

        .copy-store > li:hover {
            background-color: #fde0d6;
        }

.tree-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

    .tree-box .tree-block {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        min-height: 300px;
    }

.ul-province, .ul-city, .ul-area, .ul-store, .ul-tree, .ul-tree-inner {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
}

.ul-province, .ul-tree {
    padding: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.width-200 {
    width: 200px;
}
.btn-primary {
    height: 34px;
}
