
@{
    ViewData["Title"] = "小程序设置";
}

@section Styles {
    <environment include="Development">
        <link href="~/css/business/index.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/business/index.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

}
@section Scripts {
    <script>
        var pageObj = {
            business: JSON.parse('@Html.Raw(ViewBag.business)'.replace(/\n/g, "\\\\n"))
        };
        pageObj.business.description = pageObj.business.description.replace(/\\n/g, "\n");
    </script>
    <environment include="Development">
        <script src="~/js/business/smallprogram.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/business/smallprogram.min.js" asp-append-version="true"></script>
    </environment>
}


<div class="mainframe" id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="title">商户小程序设置</span>
                    </h3>
                </div>
            </div>
            <div class="panel-body form-horizontal">
                <div class="form-group" v-bind:class="{'has-error': (showError && !entity.appId)}">
                    <label class="control-label col-xs-2 col-md-1 col-xs-offset-1">
                        <span class="require">小程序App Key</span>
                    </label>
                    <div class="col-xs-4 col-md-3">
                        <input type="text" v-model.trim="entity.appId" class="form-control" />
                    </div>
                </div>
                <div class="form-group" v-bind:class="{'has-error': (showError && !entity.secret)}">
                    <label class="control-label col-xs-2 col-md-1 col-xs-offset-1">
                        <span class="require">小程序App Secret</span>
                    </label>
                    <div class="col-xs-4 col-md-3">
                        <input type="text" v-model.trim="entity.secret" class="form-control" />
                    </div>
                </div>
                <div class="form-group" v-bind:class="{'has-error': (showError && !entity.mchId)}">
                    <label class="control-label col-xs-2 col-md-1 col-xs-offset-1">
                        <span class="require">微信支付商户号</span>
                    </label>
                    <div class="col-xs-4 col-md-3">
                        <input type="text" v-model.trim="entity.mchId" class="form-control" />
                    </div>
                </div>
                <div class="form-group" v-bind:class="{'has-error': (showError && !entity.mchKey)}">
                    <label class="control-label col-xs-2 col-md-1 col-xs-offset-1">
                        <span class="require">微信支付密钥</span>
                    </label>
                    <div class="col-xs-4 col-md-3">
                        <input type="text" v-model.trim="entity.mchKey" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center col-md-6 col-xs-10" style="background-color: #fff;">
                <div class="kui-button">
                    <button type="button" class="btn btn-primary" style="font-size: 85%; width: 100px" v-on:click="save()">
                        保存
                    </button>
                </div>
                <div class="kui-button">
                    <button type="button" class="btn kui-button-primary" style="width: 100px" v-on:click="ret()">
                        返回
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

