@{
    ViewData["Title"] = "点我达";
}

@section Styles {
<environment include="Development">
    <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/css/dianwoda/index.css" rel="stylesheet" />
</environment>
<environment exclude="Development">
    <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/css/dianwoda/index.min.css" rel="stylesheet" asp-append-version="true" />
</environment>

}
@section Scripts {
    <script>
        var pageObj = { exist: "@ViewBag.exist" == "True"};
    </script>
    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap/dist/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="~/js/dianwoda/index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap/dist/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="~/js/dianwoda/index.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="mainframe">
    @if (ViewBag.exist)
    {
        <div class="container-fluid" style="padding: 0;">
            <ul class="nav nav-tabs" id="dianwodaTab">
                <li class="active"><a href="#info" data-toggle="tab">商户信息</a></li>
                <li><a href="#detail" data-toggle="tab">交易明细</a></li>
                <li>@*<a href="#charge" data-toggle="tab">账单</a>*@</li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="info"></div>
                <div class="tab-pane fade" id="detail"></div>
                @*<div class="tab-pane fade" id="charge"></div>*@
            </div>
        </div>
    }
    else
    {
        <div class="container-fluid" style="padding: 0;">
            <div class="noExist">
                <p>尚未创建点我达商户</p>
                <button class="btn btn-primary" id="btnCreate">点击创建</button>
            </div>

        </div>
    }

</div>
