@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        html {
            height: 100%;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
        }

        p {
            text-align: center;
        }
    </style>
    <script>
        var pageData = JSON.parse('@Html.Raw(ViewBag.model)');
        window.onload = function () {
            document.getElementById("amount").innerText = pageData.amount;
        };
    </script>
</head>
<body class="center">
    @if (ViewBag.model != null)
    {
        <div class="center">
            <p>充值金额：<label style="color:red; font-size:1.5em;" id="amount"></label></p>
            <p>请扫描下面二维码完成支付</p>
            <img src="~/Dianwoda/WechatCode?url=@ViewBag.url" />
        </div>
    }
    else
    {
        <p>支付出现异常，请<a href="javascript:history.go(-1);" style="color:#ea7042; font-size:1.2em;">返回</a>重新操作。</p>
    }
</body>
</html>
