@{
    ViewData["Title"] = "添加商品";
}

@section Styles {
    <style>
        th, td {
            text-align: center;
        }

        ul.product a.selected {
            color: #ff6a00;
            border: 1px solid #ff6a00;
            border-radius: 5px;
            padding: 3px;
        }
    </style>
    <environment include="Development">
        <link href="~/css/sale/discount.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/sale/discount.min.css" rel="stylesheet" />
    </environment>
}

@section Scripts{
    <script>
        var pageData = {
            types: JSON.parse('@Html.Raw(ViewBag.types == null ? "[]" : ViewBag.types)'),
            attrs: JSON.parse('@Html.Raw(ViewBag.attrs == null ? "[]" : ViewBag.attrs)'),
            entity: JSON.parse('@Html.Raw(ViewBag.entity == null ? "null" : ViewBag.entity)'),
        };
    </script>
    <script src="~/js/lib/iscroll-zoom.min.js" asp-append-version="true"></script>
    <script src="~/js/lib/lrz.all.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/lib/jquery.photoClip.min.js" asp-append-version="true"></script>
    <environment include="Development">
        <script src="~/js/addproduct.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/addproduct.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="mainframe" id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="title">添加商品</span>
                        <a asp-controller="product" asp-action="index" class="text-primary my-back1 pull-right">返回</a>

                        <a class="btn btn-primary my-back2" asp-controller="product" asp-action="index">
                            <i class="fa fa-backward inline-middle" style="font-size: 16px; color: #fff;"></i>
                            <span class="inline-middle" style="color: #fff;">返回</span>
                        </a>
                    </h3>
                </div>
            </div>
            <div class="panel-body form-horizontal">
                <div class="form-group" v-bind:class="{'has-error': (showError && !entity.productTypeId)}">
                    <label class="control-label col-xs-1">
                        <span class="require">商品分类</span>
                    </label>
                    <div class="col-xs-3">
                        <select id="ddlType" name="type" class="form-control" v-model="entity.productTypeId">
                            <option v-for="item in typeList" v-bind:value="item.id" v-text="item.name"></option>
                        </select>
                    </div>
                    <div class="col-xs-2">
                        <div class="kui-button m-right-xs">
                            <button class="btn kui-button-primary" v-on:click="addType()">
                                添加分类
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group" v-bind:class="{'has-error': (showError && !entity.Name)}">
                    <label class="control-label col-xs-1">
                        <span class="require">商品名称</span>
                    </label>
                    <div class="col-xs-6">
                        <input type="text" maxlength="30" v-model.trim="entity.name" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-1">
                        商品编号
                    </label>
                    <div class="col-xs-6">
                        <label v-text="entity.code" class="control-label"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-1">
                        <span>商品图片</span>
                    </label>
                    <div class="col-xs-6">
                        <div v-bind:class="{ 'hide': !imgsrc}">
                            <img style="width: 200px; height: 150px;margin-right: 20px;" :src="imgsrc" id="img" />
                            <i class="fa fa-times-circle-o" style="color: #808080;cursor: pointer;font-size: 1.5em;" title="删除" v-on:click="removeImg()"></i>
                        </div>
                        <div class="cat-upload" v-on:click="selectFile()" v-bind:class="{ 'hide': !!imgsrc}">
                            <div class="icon-upload">
                                <span class="fa fa-cloud-upload"></span>
                            </div>
                            <div class="note-upload">
                                <span>点击上传</span>
                            </div>
                            <input type="file" id="file" style="display: none;" />
                        </div>
                        <span style="color:#ff6a00;" v-bind:class="{ 'hide': !!imgsrc}">请上传像素大于 <b>600*450</b> 的图片</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-1">
                        <span>商品描述</span>
                    </label>
                    <div class="col-xs-6">
                        <input type="text" v-model.trim="entity.description" maxlength="30" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-1">
                        <span class="require">商品特性</span>
                    </label>
                    <div class="col-xs-6" v-if="!entity.id">
                        <div class="kui-checkbox checkbox pull-left m-left-md m-right-md margin-right-20">
                            <label class="label-checkbox">
                                <input type="radio" name="feature" value="0" v-model="entity.feature">
                                <span class="custom-checkbox"></span>
                                单品
                            </label>
                        </div>
                        <div class="kui-checkbox checkbox pull-left m-left-md m-right-md margin-right-20">
                            <label class="label-checkbox">
                                <input type="radio" name="feature" value="2" v-model="entity.feature">
                                <span class="custom-checkbox"></span>
                                套餐
                            </label>
                        </div>
                    </div>
                    <label class="control-label col-xs-1 pull-left" style="text-align:left;" v-else>
                        {{feature}}
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-1">
                        <span class="require">使用范围</span>
                    </label>
                    <div class="col-xs-6">
                        <div class="kui-checkbox checkbox pull-left m-left-md m-right-md margin-right-20" v-for="scope in scopeList">
                            <label class="label-checkbox">
                                <input type="checkbox" name="scope" v-model="scope.checked">
                                <span class="custom-checkbox"></span>
                                <span v-text="scope.name"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-1">
                        <span class="require">是否参与订单折扣</span>
                    </label>
                    <div class="col-xs-6">
                        <div class="kui-checkbox checkbox pull-left m-left-md m-right-md margin-right-20">
                            <label class="label-checkbox">
                                <input type="checkbox" name="scope" v-model="entity.isDiscount">
                                <span class="custom-checkbox"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" v-show="entity.feature == 2">
                    <label class="control-label col-xs-1">
                        <span class="require">套餐商品</span>
                    </label>
                    <div class="col-xs-6">
                        <ul class="setMeal">
                            <li v-for="item in entity.tag1">{{item.value}}</li>
                        </ul>
                        <a class="text-primary" @@click="selectProduct()">添加套餐商品</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-1">
                        <span class="require">商品规格</span>
                        <p style="color: #888;font-weight: 400;font-size:80%; text-align:left">（如：大份10元，小份5元）</p>
                    </label>
                    <div class="col-xs-10">
                        <div style="border: 1px solid #ccc;padding: 20px;margin-bottom: 5px;" v-for="item in entity.formats">
                            <div class="row">
                                <div class="col-xs-10">
                                    规格编码：<span v-text="item.code"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2" v-bind:class="{ 'hide': entity.formats.length === 1 }">
                                    <span class="require">规格：</span>
                                    <input type="text" class="form-control" placeholder="如：大份/小份" v-model="item.name" />
                                </div>
                                <div class="col-xs-2">
                                    <span class="require">价格：</span>
                                    <input type="number" class="form-control" v-model="item.price" />
                                </div>
                                <div class="col-xs-2">
                                    <span class="require">库存：</span>
                                    <input type="number" class="form-control" v-model="item.stock" />
                                </div>
                                <div class="col-xs-2">
                                    <span class="require">包装盒价格：</span>
                                    <input type="number" class="form-control" v-model="item.packingPrice" />
                                </div>
                                <div class="col-xs-2">
                                    <span class="require">包装盒数量：</span>
                                    <input type="number" class="form-control" v-model="item.packingQuantity" />
                                </div>
                                <div class="col-xs-1" v-bind:class="{ 'hide': entity.formats.length === 1 }">
                                    <i class="fa fa-times-circle-o format-remove" v-on:click="removeFormat(item)" title="删除规格"></i>
                                </div>
                            </div>
                        </div>
                        <div class="kui-button m-right-xs margin-top-10">
                            <button class="btn kui-button-primary" v-on:click="addFormat()">
                                添加规格
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-1">
                        <span>商品属性</span><br />
                        <span style="color: #888;font-weight: 400;font-size:80%;">(商品备注)</span>
                    </label>
                    <div class="col-xs-10">
                        <div class="clearfix" style="border: 1px solid #ccc;padding: 20px;margin-bottom: 5px; position: relative;" v-for="item in entity.attributes">
                            <!--选择商品属性-->
                            <div class="product-attr" v-bind:class="{'show': item.container.attrDisplay}" v-bind:style="{top: item.container.attrTop + 'px', left: item.container.attrLeft + 'px', opacity: item.container.attrOpacity}">
                                <div class="arrow"></div>
                                <ul class="content">
                                    <li v-for="attr in attrList">
                                        <span v-on:click="selectAttr(item, attr)" v-text="attr.name"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3">
                                <input type="text" v-on:focus="attrFocus($event, item)" v-on:blur="attrBlur($event, item)" maxlength="10" class="form-control" v-model="item.name" placeholder="如：温度" />
                            </div>
                            <div class="col-xs-6">
                                <input type="text" v-on:focus="detailFocus($event, item, 1)" v-on:blur="detailBlur($event, item)" maxlength="10" class="form-control pull-left margin-right-10 margin-bottom-10" style="width: 20%;" v-model="item.item1" placeholder="如：常温" />
                                <input type="text" v-on:focus="detailFocus($event, item, 2)" v-on:blur="detailBlur($event, item)" maxlength="10" class="form-control pull-left margin-right-10 margin-bottom-10" style="width: 20%;" v-model="item.item2" />
                                <input type="text" v-on:focus="detailFocus($event, item, 3)" v-on:blur="detailBlur($event, item)" maxlength="10" class="form-control pull-left margin-right-10 margin-bottom-10" style="width: 20%;" v-model="item.item3" />
                                <input type="text" v-on:focus="detailFocus($event, item, 4)" v-on:blur="detailBlur($event, item)" maxlength="10" class="form-control pull-left margin-right-10 margin-bottom-10" style="width: 20%;" v-model="item.item4" />
                                <input type="text" v-on:focus="detailFocus($event, item, 5)" v-on:blur="detailBlur($event, item)" maxlength="10" class="form-control pull-left margin-right-10 margin-bottom-10" style="width: 20%;" v-model="item.item5" />
                                <input type="text" v-on:focus="detailFocus($event, item, 6)" v-on:blur="detailBlur($event, item)" maxlength="10" class="form-control pull-left margin-right-10 margin-bottom-10" style="width: 20%;" v-model="item.item6" />
                                <input type="text" v-on:focus="detailFocus($event, item, 7)" v-on:blur="detailBlur($event, item)" maxlength="10" class="form-control pull-left margin-right-10 margin-bottom-10" style="width: 20%;" v-model="item.item7" />
                                <input type="text" v-on:focus="detailFocus($event, item, 8)" v-on:blur="detailBlur($event, item)" maxlength="10" class="form-control pull-left margin-right-10 margin-bottom-10" style="width: 20%;" v-model="item.item8" />
                                <!--选择属性详情-->
                                <div class="product-attr" v-bind:class="{'show': item.container.detailDisplay && item.container.list.length > 0}" v-bind:style="{top: item.container.detailTop + 'px', left: item.container.detailLeft + 'px', opacity: item.container.detailOpacity}">
                                    <div class="arrow"></div>
                                    <ul class="content">
                                        <li v-for="name in item.container.list">
                                            <span v-on:click="selectDetail(item, name, item.container.detailIndex)" v-text="name"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <i class="fa fa-times-circle-o format-remove" v-on:click="removeAttr(item)" title="删除规格"></i>
                            </div>
                        </div>
                        <div class="kui-button m-right-xs margin-top-10">
                            <button class="btn kui-button-primary" v-on:click="addAttr()">
                                添加属性
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group" v-bind:class="{'has-error': (showError && !entity.unitName)}">
                    <label class="control-label col-xs-1">
                        <span class="require">商品单位</span>
                    </label>
                    <div class="col-xs-3">
                        <input type="text" v-model.trim="entity.unitName" class="form-control" />
                    </div>
                </div>
                <div class="form-group" v-bind:class="{'has-error': (showError && !entity.minBuyQuantity)}">
                    <label class="control-label col-xs-1">
                        <span class="require">最小购买量</span>
                    </label>
                    <div class="col-xs-3">
                        <input type="number" v-model.number="entity.minBuyQuantity" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <div class="kui-button">
                    <button type="button" class="btn btn-primary" v-bind:disabled="isDisabled" style="font-size: 85%;" id="btnSave" v-on:click="save(false)">
                        保存并返回
                    </button>
                </div>
                <div class="kui-button" v-if="entity.id === 0">
                    <button type="button" class="btn btn-sm kui-button-primary" v-bind:disabled="isDisabled" v-on:click="save(true)">
                        保存并继续添加
                    </button>
                </div>
                <div class="kui-button">
                    <button type="button" class="btn btn-sm kui-button-primary" v-on:click="cancel()">
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 100px;"></div>
</div>

<!--图片剪切-->
<div class="cover-wrap">
    <div>
        <div id="clipArea" style="margin:10px;height: 480px;"></div>
        <div class="area-close">
            <i class="fa fa-times-circle-o" id="btn-closeArea"></i>
        </div>
        <div class="save-warp">
            <button id="clipBtn">保存封面</button>
        </div>
    </div>
</div>