@model IEnumerable<ProductType>
<div class="add-container">
    <div class="row">
        <div class="input-group">
            <input type="text" class="form-control" id="txtTypeName" />
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="btnAddType">添加分类</button>
            </span>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="list-type">
            @foreach (var item in Model)
            {
                <div class="list-type-item form-horizontal clearfix" data-id="@item.ID">
                    <label class="pull-left control-label">
                        <span>分类名称：</span>
                    </label>
                    <div class="pull-left width-35 margin-right-20 require relative">
                        <input type="text" class="form-control" name="name" value="@item.Name" placeholder="请输入分类名称" />
                    </div>
                    <div class="pull-left width-20 margin-right-20 require relative">
                        <input type="number" value="@item.Sort" name="sort" class="form-control" placeholder="排序码" />
                    </div>
                    <label class="pull-left control-label">
                        <i class="fa pull-left opr-slide opr-icon absolute fa-remove type-remove" title="删除"></i>
                    </label>
                </div>

            }
        </div>
    </div>
</div>
