
@{
    ViewData["Title"] = "商品管理";
}

@section Scripts{
    <script>
        var pageData = {
            types: JSON.parse('@Html.Raw(ViewBag.types == null ? "[]" : ViewBag.types)')
        };
    </script>
    <environment include="Development">
        <script src="~/js/product.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/product.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="mainframe">
    <div class="container-fluid" style="min-height: 1050px;">
        <div class="row">
            <div class="pull-left product-type">
                <div class="category-title clearfix">
                    分类列表
                    <div class="kui-button pull-right" style="z-index: 1;">
                        <button type="button" class="btn btn-primary" id="btnType">
                            <i class="fa fa-gear inline-middle" style="font-size: 16px;"></i>
                            <span class="inline-middle">管理分类</span>
                        </button>
                    </div>
                </div>
                <div class="cate-tree" id="category" style="min-height: 456px;">
                    <div class="all-line" v-bind:class="{ 'selected': allSelected }" v-on:click="allClick()">
                        <span>全部商品</span>
                        <span class="all-cnt">{{ productCount }}</span>
                    </div>

                    <div class="cate-panel" v-for="item in list" v-bind:class="{ 'selected': item.selected }" v-on:click="typeClick(item)">
                        <div class="cate-title" :data-id="item.id">
                            <div class="cate-name relative">
                                {{ item.name }}
                                <span class="cate-cnt">{{ item.count }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-left product-main">
                <div class="category-name" style="">
                    @*<span>商品列表</span>*@
                    <div class="kui-button " style="z-index: 1; margin-right: 20px;">
                        <a class="btn btn-primary" asp-controller="product" asp-action="addproduct">
                            <i class="fa fa-plus inline-middle" style="font-size: 16px;"></i>
                            <span class="inline-middle">添加商品</span>
                        </a>
                    </div>
                </div>
                <div class="product-list relative">
                    <div class="tool-bar relative">
                        <div class="clearfix" style="padding: 16px;">
                            <div class="kui-checkbox checkbox  pull-left m-left-md m-right-md" style="margin-top: 6px; margin-right: 20px;">
                                <label class="label-checkbox">
                                    <input type="checkbox" class="">
                                    <span class="custom-checkbox"></span>
                                    全选本页
                                </label>
                            </div>
                            <div class="pull-left">
                                <div class="kui-button m-right-xs">
                                    <button type="button" class="btn btn-sm kui-button-primary btn-">
                                        批量上架
                                    </button>
                                </div>
                                <div class="kui-button m-right-xs">
                                    <button type="button" class="btn btn-sm kui-button-primary btn-">
                                        批量下架
                                    </button>
                                </div>
                                <div class="kui-button m-right-xs">
                                    <button type="button" class="btn btn-sm kui-button-primary btn-">
                                        批量删除
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>