
@{
    ViewData["Title"] = "商品管理";
}

@section Scripts{
    <script>
        var pageData = {
            types: JSON.parse('@Html.Raw(ViewBag.types == null ? "[]" : ViewBag.types)')
        };
        pageData.types.forEach(function (obj) { obj.selected = false; });
    </script>
    <environment include="Development">
        <script src="~/js/product.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/product.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="mainframe">
    <div class="container-fluid" style="min-height: 600px;">
        <div class="row">
            <div class="pull-left product-type">
                <div class="category-title clearfix">
                    分类列表
                    <div class="kui-button pull-right" style="z-index: 1;">
                        <button type="button" class="btn btn-primary" id="btnType">
                            <i class="fa fa-gear inline-middle" style="font-size: 16px;"></i>
                            <span class="inline-middle">管理分类</span>
                        </button>
                    </div>
                </div>
                <div class="cate-tree" id="category" style="min-height: 456px;">
                    <div class="all-line" v-bind:class="{ 'selected': allSelected }" v-on:click="allClick()">
                        <span>全部商品</span>
                        <span class="all-cnt" v-text="productCount"></span>
                    </div>

                    <div class="cate-panel" v-for="item in list" v-bind:class="{ 'selected': item.selected }" v-on:click="typeClick(item)">
                        <div class="cate-title" :data-id="item.id">
                            <div class="cate-name relative">
                                <span v-text="item.name"></span>
                                <span class="cate-cnt" v-text="item.count"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-left product-main" id="productList">
                <div class="category-name">
                    <div class="kui-button " style="z-index: 1; margin-right: 20px;">
                        <a class="btn btn-primary" asp-controller="product" asp-action="addproduct">
                            <i class="fa fa-plus inline-middle" style="font-size: 16px;"></i>
                            <span class="inline-middle">添加商品</span>
                        </a>
                    </div>
                </div>
                <div class="product-list relative">
                    <div class="tool-bar relative">
                        <div class="clearfix" style="padding: 16px;">
                            <div class="kui-checkbox checkbox  pull-left m-left-md m-right-md" style="margin-top: 6px; margin-right: 20px;">
                                <label class="label-checkbox" v-on:click="toggleCheck()">
                                    <input type="checkbox" class="" v-model="allCheck">
                                    <span class="custom-checkbox"></span>
                                    全选本页
                                </label>
                            </div>
                            <div class="pull-left">
                                <div class="kui-button m-right-xs">
                                    <button type="button" class="btn btn-sm kui-button-primary" v-on:click="batchUp()">
                                        批量上架
                                    </button>
                                </div>
                                <div class="kui-button m-right-xs">
                                    <button type="button" class="btn btn-sm kui-button-primary" v-on:click="batchDown()">
                                        批量下架
                                    </button>
                                </div>
                                <div class="kui-button m-right-xs">
                                    <button type="button" class="btn btn-sm kui-button-primary" v-on:click="batchRemove()">
                                        批量删除
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products clearfix">
                        <div class="product clearfix" v-for="product in list">
                            <div class="product-check">
                                <label class="label-checkbox">
                                    <input type="checkbox" v-model="product.checked" v-on:click="toggleProduct()">
                                    <span class="custom-checkbox"></span>
                                </label>
                            </div>
                            <div class="product-content">
                                <div class="product-img" v-bind:class="{'hide': product.images.length == 0}">
                                    <div>
                                        <img :src="getImage(product)" :alt="product.name" class="img-thumbnail" />
                                    </div>
                                    <p class="my-order1" style="font-size: 90%;">
                                        <span v-on:click="editProduct(product)" style="color: #ea7042;">
                                            <i class="fa fa-edit" style="color: #ea7042;"></i>
                                            编辑
                                        </span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <span v-on:click="delProduct(product)" style="color: #ea7042;">
                                            <i class="fa fa-remove" style="color: #ea7042;"></i>
                                            删除
                                        </span>
                                    </p>
                                    <div class="my-order1" style="text-align: center;">
                                        <div class="kui-button m-right-xs">
                                            <button type="button" v-on:click="toggleStatus(product)" style="width: 100px" class="btn btn-sm kui-button-primary" v-text='product.status == 1 ? "下架" : "上架"'></button>
                                        </div>
                                    </div>
                                </div>
                                <div v-bind:class="{'hide': product.images.length > 0}" class="product-no-img">
                                    <div>
                                        暂无图片
                                    </div>
                                </div>
                                <div class="product-data">
                                    <div class="product-name">
                                        <span style="font-size: 16px;font-weight:800;" v-text="product.name"></span>
                                    </div>
                                    <div class="product-format">
                                        <ul class="list-group">
                                            <li class="relative" v-for="format in product.formats">
                                                <div class="li-item" v-if="product.formats.length > 1">
                                                    <p class="bold">规格：</p>
                                                    <p v-text="format.name"></p>
                                                </div>
                                                <div class="li-item">
                                                    <p><i class="fa fa-cny"></i></p>
                                                    <p v-html="format.price"></p>
                                                </div>
                                                <div class="li-item">
                                                    <p class="bold">库存：</p>
                                                    <p v-html="stock(format.stock)"></p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-remark">
                                    <p style="display:flex;">
                                        <span style="line-height:1.1;min-height: 30px;">
                                            <span class="bold">描述：</span>
                                            <span v-text="product.description"></span>
                                        </span>
                                    </p>
                                    <hr style="margin: 5px 0;" />
                                    <p style="display:flex; height: 30px">
                                        <span style="line-height:1.1;">
                                            <span class="bold">属性：</span>
                                            <span v-html="attribute(product.attributes)"></span>
                                        </span>
                                    </p>
                                </div>
                                <div class="product-operate pull-right">
                                    <div style="text-align: center;">
                                        <div class="kui-button m-right-xs">
                                            <button type="button" v-on:click="toggleStatus(product)" style="width: 100px" class="btn btn-sm kui-button-primary" v-text='product.status == 1 ? "下架" : "上架"'>
                                            </button>
                                        </div>
                                    </div>
                                    <div style="text-align: center; margin-top: 20px;">
                                        <span v-on:click="editProduct(product)">
                                            <i class="fa fa-edit"></i>
                                            编辑
                                        </span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <span v-on:click="delProduct(product)">
                                            <i class="fa fa-remove"></i>
                                            删除
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" v-if="pageCount > 1">
                    <ul class="pagination cat-pagination pagination-sm">
                        <li v-bind:class="{'disabled': pageIndex === 1}" v-on:click="prev()">
                            <a>
                                <i class="fa fa-chevron-left"></i>
                            </a>
                        </li>
                        <li v-for="num in pageCount" v-bind:class="{'active': num === pageIndex}" v-on:click="page(num)">
                            <a>
                                <span v-text="num"></span>
                            </a>
                        </li>
                        <li v-bind:class="{'disabled': pageIndex === pageCount}" v-on:click="next()">
                            <a>
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>