
<div class="container-fluid" id="setMeal">
    <div class="row" style="position: relative; margin-bottom: 10px;">

        <p class="text-primary pull-left">注：最多显示8个搜索结果...</p>
        <div class="pull-right" style="width: 250px;">
            <div class="input-group">
                <input type="text" class="form-control" v-model="search.key" @@keyup.esc="clear()" @@keyup.enter="enter()" @@keyup.up="up()" @@keyup.down="down()" @@blur="blur()" @@focus="focus()" placeholder="商品搜索..." />
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
        <div class="search-container" v-bind:style="{'min-height': search.boxHeight}">
            <div class="search-box">
                <div class="search-item" v-for="item in search.result" v-bind:class="{'selected': item.selected, 'checked': item.checked}" v-text="item.name" @@click="clickItem(item)">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <ul class="list type">
                <li v-for="item in typeList" @@click="open(item)">
                    <i class="fa fa-folder-o" v-bind:class="item.checked ? 'fa-folder-open-o' : 'fa-folder-o'"></i>
                    <span v-text="item.name"></span>
                    <i class="fa fa-plus"></i>
                    <ul class="list product" v-show="item.checked" style="display: none;">
                        <li v-for="product in item.products">
                            <a @@click.stop="choice(product)" v-bind:class="{'selected': product.checked}">{{product.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-xs-1 center-container">
            <i class="fa fa-angle-right" style="font-size: 200%;"></i>
        </div>
        <div class="col-xs-5">
            <ul class="list productList">
                <li v-for="(product, index) in productList">
                    <span v-text="(index + 1) + '. ' + product.name"></span>
                    <a @@click="remove(index)"><i class="fa fa-remove"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>

