
.membercard-container {
    background: #fff;
    display: flex;
    flex-flow: row nowrap;
}

    .membercard-container .membercard {
        width: 315px;
        background: #f4f8fb;
    }

    .membercard-container .info {
        flex-grow: 1;
        margin-left: 20px;
        background: #f4f8fb;
    }

.card-color {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

    .card-color .item {
        position: relative;
        width: 30px;
        height: 30px;
        margin-right: 15px;
        border-radius: 50%;
        cursor: pointer;
    }

        .card-color .item.selected::after {
            font-family: FontAwesome;
            content: "\f058";
            position: absolute;
            left: 6px;
            top: 1px;
            font-size: 150%;
            color: #fff;
        }

.bg-success {
    background-color: #71d049;
}

.list-none {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .list-none li {
        padding: 0;
        margin: 0 0 10px 0;
        font-size: .9em;
    }

.input-inline {
    display: inline-block;
    width: 100px;
    margin: 0 10px;
}
.bonus-rule {
    padding: 0 0 10px 0;
    font-size: .9em;
}