<div class="container-fluid" id="bindCook">
    <div class="row">
        <div class="col-xs-6">

            <ul class="list type">
                <li v-for="item in typeList" @@click="open(item)">
                    <i class="fa fa-folder-o" v-bind:class="item.checked ? 'fa-folder-open-o' : 'fa-folder-o'"></i>
                    <span v-text="item.name"></span>
                    <ul class="list product" v-show="item.checked" style="display: none;">
                        <li v-for="product in item.list">
                            <a @@click.stop="choice(product)" v-bind:class="{'selected': product.checked}">{{product.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-xs-1 center-container">
            <i class="fa fa-angle-right" style="font-size: 200%;"></i>
        </div>
        <div class="col-xs-5">
            <ul class="list productList">
                <li v-for="(product, index) in productList">
                    <span v-text="(index + 1) + '. ' + product.name"></span>
                    <a @@click="remove(product)"><i class="fa fa-remove"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>

