@{
    ViewData["Title"] = "商家后台";
}
@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/metisMenu/metisMenu.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" src="~/css/index.min.css" asp-append-version="true" />
        <link rel="stylesheet" src="~/lib/metisMenu/metisMenu.min.css" />
    </environment>
    <style>
        body {
            background: #3E3E3E;
            overflow-y: hidden;
            height: 100%;
        }
    </style>
}
@section Scripts {
    <script>
        var pageData = {
            business: JSON.parse('@Html.Raw(ViewBag.entity)'),
            orderUrl: '@Html.Raw(ViewBag.orderUrl)'
        };
    </script>
    <environment include="Development">
        <script src="~/lib/metisMenu/metisMenu.js"></script>
        <script src="~/js/index.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/metisMenu/metisMenu.min.js"></script>
        <script src="~/js/index.min.js" asp-append-version="true"></script>
    </environment>
}

<div id="wrapper">
    <nav id="navbar">
        <div class="navbar-header">
            <a class="navbar-brand" href="~/">
                <strong><img src="~/images/logo1.png" width="40" />简单猫商家中心</strong>
            </a>
        </div>

        <ul id="nav-bar-userinfo">

            <li>
                <a href="javascript:void(0);">
                    @ViewBag.UserName（@ViewBag.Code）
                </a>
            </li>

            <li>
                <a href="javascript:void(0);">
                    <i class="fa fa-bell fa-fw"></i>
                    <span class="msg-tip">21</span>
                </a>
            </li>

            <li>
                <a href="~/Login/logout">
                    <i class="fa fa-sign-out">退出</i>
                </a>
            </li>
        </ul>
    </nav>

    <nav class="navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="#/Product"><i class="fa fa-home"></i> 首页</a>
                </li>
                <li>
                    <a class="active-menu" href="#"><i class="fa fa-desktop"></i> 商品管理</a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> 订单管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#/Order">实时接单</a>
                        </li>
                        <li>
                            <a href="#">历史订单</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-qrcode"></i> 会员管理</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table"></i> 报表<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">营业统计</a>
                        </li>
                        <li>
                            <a href="#">商品分析</a>
                        </li>
                        <li>
                            <a href="#">三级<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">三级1</a>
                                </li>
                                <li>
                                    <a href="#">三级2</a>
                                </li>
                                <li>
                                    <a href="#">三级3</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-edit"></i> 营销</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-globe"></i> 第三方外卖管理</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table"></i> 设置<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#/Business"> 商户信息设置</a>
                        </li>
                        <li>
                            <a href="#/Business/SmallProgram">小程序设置</a>
                        </li>
                        <li>
                            <a href="#/Business/Dada">达达设置</a>
                        </li>
                        <li>
                            <a href="#/Business/Feyin">打印机设置</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <div id="page-inner">
            <iframe id="mainframe" border="0"></iframe>
        </div>
        <footer style="margin-left: 0 0 0 260px; clear: both;">
            <p>版权 &copy; 2018 简单猫科技（武汉）有限公司</p>
        </footer>
    </div>
    <audio id="audio-new" style="display: none;" src="~/video/Receipt_z.ogg"></audio>
</div>


