
@{
    ViewBag.Title = "门店管理";
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/chain/store.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/chain/store.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="mainframe" id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="title">今日订单</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <button class="btn btn-primary" @@click="create()">
                        <i class="fa fa-plus"> 新增门店</i>
                    </button>
                    <button class="btn btn-primary" @@click="bind()">
                        <i class="fa fa-lock"> 绑定门店</i>
                    </button>
                    <table class="table table-order table-bordered margin-top-10">
                        <thead>
                            <tr>
                                <th width="100">#</th>
                                <th>商户编码</th>
                                <th>门店名称</th>
                                <th>联系人</th>
                                <th>联系电话</th>
                                <th>所属城市</th>
                                <th>注册时间</th>
                                <th width="100">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="store in stores">
                                <td v-text="store.index"></td>
                                <td v-text="store.storeId"></td>
                                <td v-text="store.name"></td>
                                <td v-text="store.contact"></td>
                                <td v-text="store.mobile"></td>
                                <td v-text="(store.province || '') + ' ' + (store.city || '') + ' ' + (store.area || '')"></td>
                                <td v-text="store.createTime"></td>
                                <td>
                                    <a class="text-primary" href="javascript:void(0)" @@click="unbind(store)"><i class="fa fa-unlock-alt"></i> 解绑</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot v-if="stores.length === 0">
                            <tr>
                                <td colspan="7">未绑定任何门店。</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
