
@{
    ViewData["Title"] = "会员列表";
}

@section Styles {
    <style>

        .table-user th, .table-user td {
            text-align: center;
            vertical-align: middle !important;
        }
        table img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    </style>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/chain/userlist"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/chain/userlist.min.js" asp-append-version="true"></script>
    </environment>
}


<div class="mainframe" id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="title">会员列表</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row" style="min-height: 400px;">
                        <div class="col-md-12">
                            <table class="table table-bordered table-striped table-user">
                                <thead>
                                    <tr>
                                        <th width="100">头像</th>
                                        <th width="250">昵称</th>
                                        <th width="100">性别</th>
                                        <th width="150">地域</th>
                                        <th width="150">手机号</th>
                                        <th width="100">消费次数</th>
                                        <th>注册门店</th>
                                        <th width="200">注册时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in list">
                                        <td>
                                            <img :src="item.face" />
                                        </td>
                                        <td v-html="item.nickname"></td>
                                        <td v-html="genderFilter(item)"></td>
                                        <td v-html="item.area"></td>
                                        <td v-html="phoneFilter(item)"></td>
                                        <td v-html="item.quantity"></td>
                                        <td v-html="item.storeName"></td>
                                        <td v-html="item.registeTime"></td>
                                    </tr>
                                </tbody>
                                <tfoot v-if="list.length === 0">
                                    <tr>
                                        <td colspan="8">
                                            暂无会员
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <cat-pager :page-count="pageCount" :page-index="pageIndex" page-position="center" @@next="next" @@page="page" @@prev="prev"></cat-pager>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 100px;"></div>
</div>
