
.table-user th, .table-user td {
    text-align: center;
    vertical-align: middle !important;
}


table img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

th:nth-child(1) {
    width: 100px;
}
th:nth-child(2) {
    width: 20%;
}
th:nth-child(3) {
    width: 10%;
}
th:nth-child(4) {
    width: 15%;
}
th:nth-child(5) {
    width: 15%;
}
th:nth-child(7) {
    width: 120px;
}