
@{
    ViewData["Title"] = "营销中心";
}
@section Styles {
    <environment include="Development">
        <link href="~/css/sale/index.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/sale/index.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

}

<div class="mainframe" id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="title">营销中心</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-2 col-xs-6">
                        <div class="thumbnail" onclick="window.location = '/Sale/NewCustom'">
                            <i class="jdcat jdcat-xinkehu"></i>
                            <div class="caption">
                                <h3>
                                    新客立减
                                </h3>
                                <p>提高下单率，建立好口碑</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-6">
                        <div class="thumbnail" onclick="window.location = '/Sale/FullReduceList'">
                            @*<img src="~/images/mj-2.png">*@
                            <i class="jdcat jdcat-mj"></i>
                            <div class="caption">
                                <h3>
                                    满减营销
                                </h3>
                                <p>节日店庆、新老用户回馈，多消费多优惠，提升店铺收益</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-6">
                        <div class="thumbnail" onclick="window.location = '/Sale/CouponList'">
                            @*<img src="~/images/yhq-2.png">*@
                            <i class="jdcat jdcat-coupon"></i>
                            <div class="caption">
                                <h3>优惠券</h3>
                                <p>精准营销、针对不同顾客投放优惠券，刺激顾客消费</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-6">
                        <div class="thumbnail" onclick="window.location = '/Sale/Discount'">
                            @*<div class="thumbnail doing">
                            *@
                            @*<img src="~/images/discount-2.png">*@
                            <i class="jdcat jdcat-discount-copy"></i>
                            <div class="caption">
                                <h3>折扣商品</h3>
                                <p>引导顾客，选择困难的福音</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-6">
                        <div class="thumbnail" onclick="window.location = '/Sale/SaleReturn'">
                            <i class="jdcat jdcat-return"></i>
                            <div class="caption">
                                <h3>下单返券</h3>
                                <p>提高复购率，累计回头客</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-6">
                        <div class="thumbnail doing">
                            @*<img src="~/images/pt-1.png">*@
                            <i class="jdcat jdcat-tuan" style="color: #707070;"></i>
                            <div class="caption">
                                <h3>拼团活动</h3>
                                <p>回馈老顾客，开源新顾客，口碑、价值节节攀升</p>
                            </div>
                            <div class="doing-sign">
                                <div></div>
                                <p>开发中...</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <div style="height: 100px;"></div>
</div>
