@model System.String
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>授权后跳转</title>
    <script>
        window.onload = function () {
            var json = JSON.parse('@Html.Raw(Model)' || '{}');
            location.href = `@Html.Raw(ViewBag.Url)/#/?openid=${json.openid}`;
        };
    </script>

</head>
<body>
</body>
</html>
