@model JdCat.Cat.Model.Data.Business
@{
    ViewData["Title"] = "美团接入设置";
}

@section Scripts {
    <script>
        var pageObj = {
            appId: '@Model.MT_AppId',
            key: '@Model.MT_AppKey',
            poi_id: '@Model.MT_Poi_Id',
        };
    </script>
    <environment include="Development">
        <script src="~/js/thirdOrder/meituan.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/thirdOrder/meituan.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="mainframe" id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="title">@ViewData["Title"]</span>
                    </h3>
                </div>
            </div>
            <div class="panel-body form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-2 col-md-1 col-xs-offset-1">
                        <span class="require">应用AppId</span>
                    </label>
                    <div class=" col-xs-4 col-md-3">
                        <input type="text" v-model.trim="appId" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2 col-md-1 col-xs-offset-1">
                        <span class="require">应用SecretKey</span>
                    </label>
                    <div class=" col-xs-4 col-md-3">
                        <input type="text" v-model.trim="key" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2 col-md-1 col-xs-offset-1">
                        <span class="require">门店编号</span>
                    </label>
                    <div class=" col-xs-4 col-md-3">
                        <input type="text" v-model.trim="poi_id" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-2 col-xs-10 margin-bottom-10">
                <div class="kui-button">
                    <button type="button" class="btn btn-primary" style="font-size: 85%; width: 100px" v-on:click="save()">
                        保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

