
@{
    ViewData["Title"] = "第三方订单";
}
@section Styles {
    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    </environment>

    <style>
        td:nth-child(3) {
            white-space: nowrap;
        }
    </style>
}
@section Scripts {
    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap/dist/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="~/js/thirdOrder/order.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap/dist/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="~/js/thirdOrder/order.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="mainframe" id="app">
    <div class="container-fluid" style="background-color: #fff;">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="title">@ViewData["Title"]</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="flex-row margin-bottom-10">
                <label>下单时间：</label>
                <input autocomplete="off" class="form-control width-200" id="txtStartDate" v-model="startDate" />
                <label style="width: 30px; text-align: center;">-</label>
                <input autocomplete="off" class="form-control width-200" id="txtEndDate" v-model="endDate" />
            </div>
            <div class="flex-row margin-bottom-10">
                <label>订单来源：</label>
                <select class="form-control margin-right-20" style="width: 200px;" v-model="selectedSource">
                    <option v-for="item in sources" v-text="item.name" :value="item.val"></option>
                </select>
                <label>当日编号：</label>
                <input class="form-control margin-right-20" style="width: 140px;" type="number" v-model.number="dayNum" />
                <button class="btn btn-primary" @@click="search()">
                    <i class="fa fa-search"></i>
                    搜索
                </button>
            </div>
        </div>
        <hr />
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th width="80"></th>
                    <th width="80">当日编号</th>
                    <th width="80">订单来源</th>
                    <th width="180">订单编号</th>
                    <th width="160">下单时间</th>
                    <th width="160">预计送达时间</th>
                    <th width="90">订单状态</th>
                    <th width="90">订单金额</th>
                    <th width="100">联系人</th>
                    <th>联系地址</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(order, index) in orderList">
                    @*<td v-text="(paging.pageindex - 1) * paging.pageSize + 1 + index"></td>*@
                    <td>
                        <a class="text-primary" @@click="cat(order)">查看详情</a><br />
                        <a class="text-primary" @@click="print(order)">补打小票</a>
                    </td>
                    <td v-text="order.daySeq"></td>
                    <td v-text="order.orderSource === 0 ? '美团' : '饿了么'"></td>
                    <td v-text="order.orderId"></td>
                    <td v-text="order.ctime"></td>
                    <td v-text="order.deliveryTime"></td>
                    <td v-text="status(order.status)"></td>
                    <td v-text="'￥' + order.amount"></td>
                    <td v-text="order.recipientName"></td>
                    <td v-text="order.recipientAddress"></td>
                </tr>

            </tbody>
            <tfoot v-if="orderList.length == 0">
                <tr>
                    <td colspan="10">
                        暂无订单数据...
                    </td>
                </tr>
            </tfoot>
        </table>
        <cat-pager :page-count="paging.pageCount" :page-index="paging.pageIndex" page-position="center" @@next="nextPage" @@page="changePage" @@prev="prevPage"></cat-pager>
    </div>
</div>
