@{
    ViewData["Title"] = "Index";
}

@section Scripts {
<script>

    Vue.component("cat-pager", {
        props: ["pageCount", "pageIndex", "pagePosition"],
        template: `
            <div :class="classObj" v-if="pageCount > 1">
                <ul class="pagination cat-pagination pagination-sm">
                    <li v-bind:class="{'disabled': pageIndex === 1}" v-on:click="prev()">
                        <a>
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </li>
                    <li v-for="item in items" v-bind:class="{'active': item.active}" v-on:click="page(item)">
                        <a>
                            <span v-text="item.index"></span>
                        </a>
                    </li>
                    <li v-bind:class="{'disabled': pageIndex === pageCount}" v-on:click="next()">
                        <a>
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        `,
        data: function () {
            var classObj = {};
            if (!!this.pagePosition) {
                classObj["text-" + this.pagePosition] = true;
            } else {
                classObj["text-center"] = true;
            }
            return {
                classObj,
                items: []
            };
        },
        methods: {
            prev: function () {
                if (this.pageIndex == 1) return;
                this.$emit("prev");
            },
            next: function () {
                if (this.pageIndex == this.pageCount) return;
                this.$emit("next");
            },
            page: function (item) {
                if (!item.canClick || this.pageIndex == item.index) return;
                this.$emit("page", item.index);
            },
            calc: function () {
                var index = 1, items = [];
                if (this.pageCount <= 10) {
                    for (; index <= this.pageCount; index++) {
                        items.push({ index, active: this.pageIndex == index, canClick: true });
                    }
                } else {
                    if (this.pageIndex < 4) {
                        for (; index < 5; index++) {
                            items.push({ index, active: this.pageIndex == index, canClick: true });
                        }
                        items.push({ index: "...", active: false, canClick: false });
                        items.push({ index: this.pageCount, active: false, canClick: true });
                    } else if (this.pageIndex > this.pageCount - 3) {
                        index = this.pageCount - 3;
                        items.push({ index: 1, active: false, canClick: true });
                        items.push({ index: "...", active: false, canClick: false });
                        for (; index < this.pageCount + 1; index++) {
                            items.push({ index, active: this.pageIndex == index, canClick: true });
                        }
                    } else {
                        var num = 0;
                        items.push({ index: 1, active: false, canClick: true });
                        items.push({ index: "...", active: false, canClick: false });
                        for (; num < 3; num++) {
                            items.push({ index: this.pageIndex + num - 1, active: num === 1, canClick: true });
                        }
                        items.push({ index: "...", active: false, canClick: false });
                        items.push({ index: this.pageCount, active: false, canClick: true });
                    }
                }
                this.items = items;
            }
        },
        created: function () { 
            this.calc();
        },
        watch: {
            "pageIndex": function () { 
                this.calc();
            },
            "pageCount": function () {
                this.calc();
            }
        }
    });

    new Vue({
        el: "#app",
        data: {
            device_no: ""
        },
        methods: {
            print: function () {
                axios.get("/Test/Print")
                    .then(function (res) {
                        $.alert(res.data, "success");
                    });

            },
            getState: function () {


            },
            updateToken: function () {
                axios.get("/Test/UpdateToken")
                    .then(function (res) {
                        $.alert(res.data, "success");
                    });
            },
            bindDevice: function () {
                axios.get("/Test/BindDevice?device_no=" + this.device_no)
                    .then(function (res) {
                        $.alert(res.data, "success");
                    });
            },
            unBindDevice: function () {
                axios.get("/Test/UnBindDevice?device_no=" + this.device_no)
                    .then(function (res) {
                        $.alert(res.data, "success");
                    });
            }
        }
    });

    new Vue({
        el: "#pager",
        data: {
            pageIndex: 1,
            pageCount: 15,
            pagePosition: "center",
        },
        methods: {
            next: function () { 
                this.pageIndex++;
            },
            prev: function () { 
                this.pageIndex--;
            },
            page: function (num) { 
                this.pageIndex = num;
            }
        }
    });
</script>
}

<div class="mainframe">
    <div class="container-fluid">
        <div class="row" id="app">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="title">测试飞印打印</span>
                    </h3>
                </div>
            </div>
            <div class="panel-body form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-1">
                        <span>设备编号：</span>
                    </label>
                    <div class="col-xs-5">
                        <input class="form-control" v-model="device_no" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn-group">
                        <button class="btn btn-primary" @@click="print()">打印</button>
                        <button class="btn btn-primary" @@click="getState()">得到状态</button>
                        <button class="btn btn-primary" @@click="updateToken()">重置Token</button>
                        <button class="btn btn-primary" @@click="bindDevice()">绑定设备</button>
                        <button class="btn btn-primary" @@click="unBindDevice()">解除绑定</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="pager">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="title">分页组件</span>
                    </h3>
                </div>
            </div>
            <div class="panel-body form-horizontal">
                <cat-pager :page-count="pageCount" :page-index="pageIndex" :page-position="pagePosition"
                           @@next="next()" @@prev="prev()" @@page="page"></cat-pager>
            </div>
        </div>
    </div>
</div>
