@{
    ViewData["Title"] = "Index";
}

@section Scripts {
    <script>
        new Vue({
            el: "#app",
            data: {
                device_no: ""
            },
            methods: {
                print: function () { 
                    axios.get("/Test/Print")
                        .then(function (res) { 
                            $.alert(res.data, "success");
                        });

                },
                getState: function () { 


                },
                updateToken: function () {
                    axios.get("/Test/UpdateToken")
                        .then(function (res) {
                            $.alert(res.data, "success");
                        });
                },
                bindDevice: function () {
                    axios.get("/Test/BindDevice?device_no=" + this.device_no)
                        .then(function (res) {
                            $.alert(res.data, "success");
                        });
                },
                unBindDevice: function () {
                    axios.get("/Test/UnBindDevice?device_no=" + this.device_no)
                        .then(function (res) {
                            $.alert(res.data, "success");
                        });
                }
            }
        });
    </script>
}

<div class="mainframe" id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="title">测试飞印打印</span>
                    </h3>
                </div>
            </div>
            <div class="panel-body form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-1">
                        <span>设备编号：</span>
                    </label>
                    <div class="col-xs-5">
                        <input class="form-control" v-model="device_no" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn-group">
                        <button class="btn btn-primary" @@click="print()">打印</button>
                        <button class="btn btn-primary" @@click="getState()">得到状态</button>
                        <button class="btn btn-primary" @@click="updateToken()">重置Token</button>
                        <button class="btn btn-primary" @@click="bindDevice()">绑定设备</button>
                        <button class="btn btn-primary" @@click="unBindDevice()">解除绑定</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="title">测试其他</span>
                    </h3>
                </div>
            </div>
            <div class="panel-body form-horizontal">

            </div>
        </div>
    </div>
</div>
