
@{
    ViewData["Title"] = "Video";
}

<h2>Video</h2>

<button class="btn btn-primary" id="btn">接单</button>
<audio id="video" src="~/video/xtw.mp3"></audio>

@section Scripts {
    <script>
        $(function () {
            var video = document.getElementById("video");
            $("#btn").click(function () {
                video.play();
            });

        });
    </script>
}

