
@{
    ViewData["Title"] = "会员列表";
}

@section Styles {
    <environment include="Development">
        <link href="~/css/user/list.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/user/list.min.css" rel="stylesheet" />
    </environment>
}
@section Scripts {
    <environment include="Development">
        <script src="~/js/user/list.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/user/list.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="mainframe" id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="title">会员列表</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-striped" style="min-height: 400px;">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>头像</th>
                                        <th>昵称</th>
                                        <th>手机号</th>
                                        <th>性别</th>
                                        <th>注册时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in list">
                                        <td v-html="index + 1"></td>
                                        <td>
                                            <img :src="item.avatarUrl" style="width: 100px;height: 100px;" />
                                        </td>
                                        <td v-html="item.nickName"></td>
                                        <td v-html="phoneFilter(item)"></td>
                                        <td v-html="genderFilter(item)"></td>
                                        <td v-html="item.createTime"></td>
                                    </tr>
                                </tbody>
                                <tfoot v-if="list.length === 0">
                                    <tr>
                                        <td colspan="6">
                                            暂无会员
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="text-center" v-if="pageCount > 1">
                        <ul class="pagination cat-pagination pagination-sm">
                            <li v-bind:class="{'disabled': pageIndex === 1}" v-on:click="prev()">
                                <a>
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            </li>
                            <li v-for="num in pageCount" v-bind:class="{'active': num === pageIndex}" v-on:click="page(num)">
                                <a>
                                    <span v-text="num"></span>
                                </a>
                            </li>
                            <li v-bind:class="{'disabled': pageIndex === pageCount}" v-on:click="next()">
                                <a>
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 100px;"></div>
</div>
